/* https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d */
.wj-dropdown-panel {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* highlight auto-complete matches in green, make them uppercase */
.wj-autocomplete-match {
    background: #caff9c;
    border: 1px solid #6fa045;
    text-transform: uppercase;
}
