
/* ng-model state classes */
form input.ng-pristine, 
form .ng-pristine.wj-control {
    background-color: #f4f4f4;
}
.ng-valid {
    border-color: lightgreen;
}
.ng-invalid {
    border-color: red;
}

body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #80044d;
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

h2 {
    margin-top: 24px;
    margin-left: -12px;
}

.header {
    color: #e3bfd5;
    background-color: #80044d;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }

    .header img {
		float: left;
		margin: 0 10px 5px 0;
	}

.pane-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 13px;
    overflow: auto;
    padding: 0 8px;
    white-space: pre;
}

.app-input-group {
    margin: 5px 0 10px;
}

    .app-input-group > label {
        display: block;
    }

.pane-content code {
    background-color: #fff;
    color: #000;
    padding: 0;
}

form.form {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    padding: 20px;
}

form button {
    border-radius: 0;
}

.dyna-form-ctrl {
    width: 160px;
}

/* Wijmo Supporting Classes */
.highlight {
    background-color: #ff0;
    color: #000;
}