/* app */
body {
    background-color: #f7f7f7;
}

.header {
    color: #fff;
    background-color: #337ab7;
    margin-bottom: 14px;
    padding: 12px 0;
}
    .header img {
		float: left;
		margin: 0 10px 5px 0;
	}

/* dashboard and tiles */
.dashboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.tile {
    flex-grow: 1;
    min-width: 200px;
    min-height: 80px;
    overflow: hidden;
    padding: 6px;
    margin: 6px;
    border: 2px solid transparent;
    background: white;
    transition: all 250ms;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    page-break-inside:avoid; /* important when printing the dashboard */
}
    .tile:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
    .tile.drag-over {
        border: 2px dashed #000;
    }


.tile .buttons {
    transition: all 250ms;
    opacity: 0;
}
    .tile:hover .buttons {
        opacity: 1;
    }
.tile .buttons>span {
    padding: 0 6px;
    cursor: pointer;
} 
.tile.drag-over {
    border: 2px dashed #000;
    background-color: rgba(0,0,0,0.10);
}
.tile.drag-source {
    opacity: 0.4;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: scale(0.9);
}

/* tile content */

.wj-flexgrid {
    max-height: 250px;
    max-width: 450px;
}

.wj-flexchart {
    background: transparent;
    min-width: 450px;
    border: none;
    padding: 0;
    margin: 0;
}
.wj-radialgauge {
   max-width: 400px;
   max-height: 250px;
}