<div>
    <h2 class="title">{{fields.salesSlipTitle}}</h2>
    <wj-multi-row control="ctx.multiRow" items-source="ctx.data" layout-definition="ctx.layoutDef">
    </wj-multi-row>
    <div class="pull-right btn-group">
        <button class="btn btn-default" ng-disabled="ctx.pageIndex == 0" ng-click="moveToFirstPage()">
            <span class="glyphicon glyphicon-fast-backward"></span>
        </button>
        <button class="btn btn-default" ng-disabled="ctx.pageIndex == 0" ng-click="moveToPreviousPage()">
            <span class="glyphicon glyphicon-backward"></span>
        </button>
        <button type="button" class="btn" disabled style="width:100px">
            {{ctx.pageIndex + 1 | number}} / {{ctx.pageCount | number}}
        </button>
        <button class="btn btn-default" ng-disabled="ctx.pageIndex == ctx.pageCount - 1" ng-click="moveToNextPage()">
            <span class="glyphicon glyphicon-forward"></span>
        </button>
        <button class="btn btn-default" ng-disabled="ctx.pageIndex == ctx.pageCount - 1" ng-click="moveToLastPage()">
            <span class="glyphicon glyphicon-fast-forward"></span>
        </button>
    </div>
    <div class="btn-group">
        <button class="btn btn-default" ng-click="exportToExcel()">
            {{fields.exportXlsx}}
        </button>
        <button class="btn btn-default" ng-click="exportToPDF()">
            {{fields.exportPDF}}
        </button>
    </div>
</div>