<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#MultiRow" target="_self">
                    MultiRow
                </a>
            </h4>
        </div>
        <div id="MultiRow">
            <div class="panel-body">
                <ul class="flat-list">
                    <li><a href="#/transferSlip">{{fields.transferSlipTitle}}</a></li>
                    <li><a href="#/ordersSlip">{{fields.ordersSlipTitle}}</a></li>
                    <li><a href="#/orderDetail">{{fields.orderDetailTitle}}</a></li>
                    <li><a href="#/purchaseSlip">{{fields.purchaseSlipTitle}}</a></li>
                    <li><a href="#/orderManagement">{{fields.orderManagementTitle}}</a></li>
                    <li><a href="#/salesSlip">{{fields.salesSlipTitle}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>