<div>
    <h2>{{title}}</h2>
    <p>
        The RangeSelector allows end users to adjust the FinancialChart's visible range of data
        at runtime.  The example below demonstrates the typical use case for the RangeSelector
        and how to apply a custom style.
    </p>
    
    <!-- FinancialChart -->
    <wj-financial-chart #chart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="Candlestick"
                        [symbolSize]="6"
                        (rendered)="chartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"
                                   [name]="selectedSymbol | uppercase">
        </wj-financial-chart-series>
    </wj-financial-chart>

    <!-- Range Selector -->
    <wj-financial-chart #selectorChart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="Candlestick"
                        style="height: 200px"
                        tooltipContent=""
                        [symbolSize]="6"
                        [class.custom-rangeselector]="customStyle"
                        (rendered)="selectorChartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"></wj-financial-chart-series>
        <wj-flex-chart-range-selector #selector
                                      [seamless]="true"
                                      (rangeChanged)="rangeChanged()">
        </wj-flex-chart-range-selector>
    </wj-financial-chart>
    <!-- Settings -->
    <div class="panel-group" id="settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ title }} Settings
                </h4>
            </div>
            <div id="settingsBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>
                            <label>
                                Apply Custom Style
                                <input type="checkbox" [(ngModel)]="customStyle" />
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>