<h2>{{ title }}</h2>
<p>
	This sample illustrates how to export FlexPie as a raster image using <b>drawImage</b> method.
	<a href="" target="_self" data-toggle="collapse" data-target=".collapse" class="collapse in read-more">Read More</a>
</p>


<div class="collapse">
	<p>
		The sample uses the ability of any FlexChartBase-based control to convert itself to an raster image, so the following technique is used here:
	</p>

	<ol>
		<li>Instantiate FlexPie control.</li>
		<li>Convert it to a raster image using the control's saveImageToDataUrl method.</li>
		<li>Draw the image onto the document using drawImage method.</li>
	</ol>

	<p>
		The sample uses <b>CanvasRenderEngine.ts</b>, a polyfill that makes the saveImageToDataUrl method work in IE if image is being saved in a raster format.
	</p>
</div>


<div id="pie" class="hideCtrl" style="width: 500px"></div>

<!-- Export button -->
<button class="btn btn-default" id="Button1" ng-click="export()">Export</button>