<div>
    <div class="copy">
        <h3>
            Filtering
        </h3>
        <p>
            FlexSheet customizes the <b>FlexGridFilter</b> extension (wijmo.grid.filter.js) to handle the filtering of each column.
            When invoke the <b>showColumnFilter()</b> method of FlexSheet, it will display the filter UI of the selected column.
        </p>
    </div>
    <button type="button" class="btn btn-default" (click)="showFilter()">Show Filter</button>
    <div>
        <wj-flex-sheet #flexSheet class="flexSheet" (initialized)="flexSheetInit(flexSheet)">
            <wj-sheet name="Country"></wj-sheet>
        </wj-flex-sheet>
    </div>
</div>