<div>
    <div class="copy">
        <h3>
            Multiple Headers
        </h3>
        <p>
            FlexSheet allows to add multiple row headers or column headers.
        </p>
    </div>
    <div class="row well well-lg">
        <div class="btn-group">
            <button type="button" class="btn btn-default" (click)="addRowHeader()">Add Row Header</button>
            <button type="button" class="btn btn-default" (click)="removeRowHeader()">Remove Row Header</button>
            <button type="button" class="btn btn-default" (click)="addColumnHeader()">Add Column Header</button>
            <button type="button" class="btn btn-default" (click)="removeColumnHeader()">Remove Column Header</button>
        </div>
    </div>
    <div>
        <wj-flex-sheet #flexSheet class="flexSheet" (initialized)="flexSheetInit(flexSheet)">
            <wj-sheet [rowCount]="20" [columnCount]="8"></wj-sheet>
        </wj-flex-sheet>
    </div>
</div>