<!-- 
    Dialog using ComboBoxes for the SortDescriptors
-->
<div class="modal fade" id="dlgSortCombo">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    ng-click="sortManager.commit(false)">
                    &times;
                </button>
                <h4 class="modal-title">Sort (with combos)</h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <button
                                type="button" 
                                class="btn btn-default"
                                ng-click="sortManager.addLevel()">
                                <span class="glyphicon glyphicon-plus"></span> Add Level
                            </button>
                            <button 
                                type="button" 
                                class="btn btn-default"
                                ng-disabled="sortManager.sortDescriptions.currentItem == null"
                                ng-click="sortManager.removeLevel()">
                                <span class="glyphicon glyphicon-minus"></span> Delete Level
                            </button>
                            <button 
                                type="button" 
                                class="btn btn-default"
                                ng-disabled="sortManager.sortDescriptions.currentItem == null"
                                ng-click="sortManager.copyLevel()">
                                <span class="glyphicon glyphicon-share"></span> Copy Level
                            </button>
                        </div>
                        <div class="btn-group" role="group">
                            <button 
                                type="button" 
                                class="btn btn-default" 
                                title="Move Up"
                                ng-disabled="sortManager.sortDescriptions.currentPosition <= 0"
                                ng-click="sortManager.moveLevel(-1)">
                                <span class="wj-glyph-up"></span>
                            </button>
                            <button
                                type="button" 
                                class="btn btn-default" 
                                title="Move Down"
                                ng-disabled="sortManager.sortDescriptions.currentPosition >= sortManager.sortDescriptions.itemCount - 1"
                                ng-click="sortManager.moveLevel(+1)">
                                <span class="wj-glyph-down"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <table class="table condensed" style="margin-top:4px">
                        <tbody>
                            <tr 
                                ng-repeat="item in sortManager.sortDescriptions.items"
                                ng-click="sortManager.sortDescriptions.moveCurrentTo(item)"
                                ng-class="{success: item == sortManager.sortDescriptions.currentItem}">
                                <td>
                                    {{ $first ? 'sort by ' : 'then by ' }}
                                    <wj-combo-box 
                                        items-source="sortManager.properties"
                                        text="item.property">
                                    </wj-combo-box>
                                </td>
                                <td>
                                    ascending
                                    <input 
                                        type="checkbox" 
                                        ng-model="item.ascending" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <button 
                        type="button" 
                        ng-class="sortManager.getError() ? 'btn btn-warning' : 'btn btn-primary'"
                        title="{{sortManager.getError()}}"
                        data-dismiss="modal"
                        ng-click="sortManager.commit(true)">
                        OK</button>
                    <button 
                        type="button" 
                        class="btn btn-default text-right" 
                        data-dismiss="modal"
                        ng-click="sortManager.commit(false)">
                        Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
