<!--
    Password Reset form
-->
<form 
    id="frmpasswordreset"
    ng-submit="auth.submit($event)">
    <h4 class="modal-header">
        Password Reset
        <button type="button" tabindex="-1" class="close wj-hide" >&times;</button>
    </h4>
    <div class="modal-body">
        <p>
            Please enter your e-mail and click the button below to reset your password.</p>
        <p>
            Once your password has been reset, you we will be notified by e-mail.</p>
        <p class="text-info">
            <b>NOTE</b>: The password reset functionality has been disabled in this sample 
            because it requires a valid e-mail account to send the notifications.
            To enable it, please add the necessary account information to the 'appSettings' 
            section of the 'web.config' file.</p>
        <br />
        <label>
            Email: <input 
                class="form-control" 
                ng-model="auth.form.mail"
                required type="email"/>
        </label>
        <br />
        <label class="error">
            {{auth.form.error}}
        </label>
    </div>
    <div class="modal-footer">
        <button 
            ng-disabled="true"
            class="btn btn-primary"
            type="submit">
            Reset Password
        </button>
    </div>
</form>
