<div>
    <h2>{{title}}</h2>
    <p>
        CandleVolume charts are identical to standard Candlestick charts, except that the width of each bar is determined by
        a fifth value, volume.
    </p>
    <!-- Symbol -->
    <label>Symbol</label>
    <wj-combo-box [itemsSource]="dataList"
                  displayMemberPath="name"
                  selectedValuePath="symbol"
                  [(selectedValue)]="selectedSymbol"
                  (selectedIndexChanged)="selectedSymbolChanged()">
    </wj-combo-box>

    <wj-financial-chart #chart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="CandleVolume"
                        (rendered)="chartRendered()">
        <wj-financial-chart-series binding="high,low,open,close,volume"
                                   [name]="selectedSymbol | uppercase">
        </wj-financial-chart-series>
    </wj-financial-chart>

    <!-- Range Selector -->
    <wj-financial-chart #selectorChart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="CandleVolume"
                        style="height: 200px"
                        tooltipContent=""
                        (rendered)="selectorChartRendered()">
        <wj-financial-chart-series binding="high,low,open,close,volume"></wj-financial-chart-series>
        <wj-flex-chart-range-selector #selector
                                      [seamless]="true"
                                      (rangeChanged)="rangeChanged()">
        </wj-flex-chart-range-selector>
    </wj-financial-chart>
</div>