<div>
    <h2>{{title}}</h2>
    <p>
        Heikin-Ashi charts are a variation of Japanese candlestick charts that were designed to remove
        noise from candlesticks and behave much like a moving average. These charts can be used
        to identify trends, potential reversal points, and other technical analysis patterns.
    </p>
    <p>
        While the appearance of Heikin-Ashi charts are identical to candlestick charts, the underlying
        price values are calculated based on the following formulas:
    </p>
    <dl class="dl-horizontal">
        <dt>haHigh</dt>
        <dd>Max(high[0], haOpen[0], haClose[0])</dd>
        <dt>haLow</dt>
        <dd>Min(low[0], haOpen[0], haClose[0])</dd>
        <dt>haOpen</dt>
        <dd>Avg(haOpen[-1], haClose[-1])</dd>
        <dt>haClose</dt>
        <dd>Avg(high[0], low[0], open[0], close[0])</dd>
    </dl>
    <div class="small">"-1" indicates the previous period; "0" indicates the current period</div>

    <!-- Symbol -->
    <label>Symbol</label>
    <wj-combo-box [itemsSource]="dataList"
                  displayMemberPath="name"
                  selectedValuePath="symbol"
                  [(selectedValue)]="selectedSymbol"
                  (selectedIndexChanged)="selectedSymbolChanged()">
    </wj-combo-box>
    
    <!-- FinancialChart -->
    <wj-financial-chart #chart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="HeikinAshi"
                        (rendered)="chartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"
                                   [name]="selectedSymbol | uppercase">
        </wj-financial-chart-series>
    </wj-financial-chart>

    <!-- Range Selector -->
    <wj-financial-chart #selectorChart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="HeikinAshi"
                        style="height: 200px"
                        tooltipContent=""
                        (rendered)="selectorChartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"></wj-financial-chart-series>
        <wj-flex-chart-range-selector #selector
                                      [seamless]="true"
                                      (rangeChanged)="rangeChanged()">
        </wj-flex-chart-range-selector>
    </wj-financial-chart>
</div>