<div>
    <div class="copy">
        <h3>
            Zones
        </h3>
        <p>
            The view creates a scatter chart of student grades, highlighting each grade range using zones.
        </p>
        <p>
            The zones are drawn in <b>rendering</b> event of <b>FlexChart</b>. Statistic values are calculated and plotted.
        </p>
    </div>
    <div>

        <!-- the chart -->
        <wj-flex-chart class="chart" style="display:block"
                       #chart
                       [chartType]="'Scatter'"
                       [itemsSource]="itemsSource"
                       [bindingX]="'number'">
            <wj-flex-chart-axis [wjProperty]="'axisX'" [axisLine]="false" [title]="'student number'"></wj-flex-chart-axis>
            <wj-flex-chart-axis [wjProperty]="'axisY'" [title]="'student accumalated points'"></wj-flex-chart-axis>
            <wj-flex-chart-series [binding]="'score'" [name]="'raw score'" [symbolSize]="6"></wj-flex-chart-series>
        </wj-flex-chart>

    </div>

</div>
