<div class="header">
    <div class="container">
        <img src="resources/wijmo5.png" />
        <h1>
            FlexChart 101
        </h1>
        <p>
            This page shows how to get started with Wijmo's FlexChart control.
        </p>
    </div>
</div>
<div class="container">

    <!-- getting started -->
    <h2 id="Start">
        Getting Started
    </h2>
    <p>
        Steps for getting started with the FlexChart in AngularJS applications:
    </p>
    <ol>
        <li>Add references to AngularJS, Wijmo, and Wijmo's AngularJS directives.</li>
        <li>
            Add a component to provide data and logic.<br />
        </li>
        <li>Add a FlexChart to the page and bind it to the data.</li>
        <li>Add some CSS to customize the chart's appearance.</li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;link rel="stylesheet" type="text/css" href="css/bootstrap.css" /&gt;
&lt;link rel="stylesheet" type="text/css" href="css/wijmo.css" /&gt;
&lt;link rel="stylesheet" type="text/css" href="css/app.css"/&gt;
&lt;!-- Angular 2 --/&gt;
&lt;!-- Polyfill(s) for older browsers --&gt;
&lt;script src="node_modules/es6-shim/es6-shim.min.js"&gt;&lt;/script&gt;

&lt;script src="node_modules/zone.js/dist/zone.js"&gt;&lt;/script&gt;
&lt;script src="node_modules/reflect-metadata/Reflect.js"&gt;&lt;/script&gt;
&lt;script src="node_modules/systemjs/dist/system.src.js"&gt;&lt;/script&gt;


&lt;!-- Configure SystemJS -->
&lt;script src="systemjs.config.js"&gt;&lt;/script&gt;

&lt;!-- JQuery/Bootstrap --&gt;
&lt;script src="bin/Devel/external/jquery.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;script src="bin/Devel/external/bootstrap.js" type="text/javascript"&gt;&lt;/script&gt;
&lt;link rel="stylesheet" type="text/css" href="bin/Devel/external/bootstrap/css/bootstrap.css" /&gt;
&lt;script src="scripts/wijmo.js" type="text/javascript"/&gt;&lt;/script/&gt;
&lt;script src="scripts/wijmo.input.js" type="text/javascript"/&gt;&lt;/script/&gt;
&lt;script src="scripts/wijmo.chart.js" type="text/javascript"/&gt;&lt;/script/&gt;
&lt;script src="scripts/wijmo.angular2.js" type="text/javascript"/&gt;&lt;/script/&gt;
&lt;!-- Load the root application module --&gt;
&lt;script&gt;
    System.import('./src/app');
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;!-- Add root application component --&gt;
&lt;app-cmp&gt;
 &lt;wj-flex-chart [itemsSource]="data"
    [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
&lt;/app-cmp&gt;
&lt;/body&gt;
&lt;/html&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
import { Injectable } from '@angular/core';

// Common data service
@Injectable()
export class DataSvc {    
    getData(countries: string[]): any[] {
        var data = [];
        for (let i = 0; i < countries.length; i++) {
            data.push({
                country: countries[i],
                downloads: Math.round(Math.random() * 20000),
                sales: Math.random() * 10000,
                expenses: Math.random() * 5000
            });
        }
        return data;
    }
}
--------------------Component-----------------------
 // Angular
 import { Component, View, EventEmitter, provide, Input, Inject, enableProdMode } from '@angular/core';
 import { CORE_DIRECTIVES } from '@angular/common';
 import { bootstrap } from '@angular/platform-browser-dynamic';
 import * as wjNg2Chart from 'wijmo/wijmo.angular2.chart';
 import * as wjNg2Input from 'wijmo/wijmo.angular2.input';
 import { DataSvc } from './services/DataSvc';

 // The Explorer application root component.
 @Component({
     selector: 'app-cmp',
     directives: [CORE_DIRECTIVES,
        CORE_DIRECTIVES, AppTab, AppTabPane,
        wjNg2Chart.WjFlexChart, wjNg2Chart.WjFlexChartAxis, wjNg2Chart.WjFlexChartLegend,
        wjNg2Chart.WjFlexChartDataLabel, wjNg2Chart.WjFlexChartSeries,
        wjNg2Input.WjMenu, wjNg2Input.WjMenuItem]
 })

 export class AppCmp {        
      countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
      data: { country: string, downloads: number, sales: number, expenses: number }[];
      protected dataSvc: DataSvc;

     constructor(@Inject(DataSvc) dataSvc: DataSvc) {
       // data for FlexChart
       this.dataSvc = dataSvc;
       this.data = this.dataSvc.getData(this.countries);
     }
 }

 enableProdMode();
 // Bootstrap application with hash style navigation and global services.
 bootstrap(AppCmp, [
 DataSvc
 ]);
                    </div>
                </app-tab-pane>
                <app-tab-pane title="CSS">
                    <div class="pane-content">
 /* set default chart style */
 .wj-flexchart {
     height: 400px;
     background-color: white;
     box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
     padding: 8px;
     margin-bottom: 12px;
     display:block;
 }
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>

    <!-- chart types -->
    <h2 id="ChartTypes">
        Chart Types
    </h2>
    <p>
        The FlexChart control has three properties that allow you to customize the chart
        type:
    </p>
    <ol>
        <li>
            <b>chartType</b>: Selects the default chart type to be used for all series objects.
            Individual series objects can override this.
        </li>
        <li>
            <b>stacking</b>: Determines whether series objects are plotted independently,
            stacked, or stacked so their sum is 100%.
        </li>
        <li>
            <b>rotated</b>: Flips the X and Y axes so X becomes vertical and Y horizontal.
        </li>
    </ol>
    <p>
        The example below allows you to see what happens when you change these properties:
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div ng-non-bindable class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [chartType]="chartType"
     [stacking]="stacking"
     [rotated]="rotated"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;

 &lt;wj-menu [(value)]="chartType" [header]="'Chart Type'"&gt;
     &lt;wj-menu-item [value]="'Column'"&gt;Column&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Bar'"&gt;Bar&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Scatter'"&gt;Scatter&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Line'"&gt;Line&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'LineSymbols'"&gt;LineSymbols&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Area'"&gt;Area&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Spline'"&gt;Spline&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'SplineSymbols'"&gt;SplineSymbols&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'SplineArea'"&gt;SplineArea&lt;/wj-menu-item&gt;
 &lt;/wj-menu&gt;
 &lt;wj-menu [(value)]="stacking" [header]="'Stacking'"&gt;
     &lt;wj-menu-item [value]="'None'"&gt;None&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Stacked'"&gt;Stacked&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="'Stacked100pc'"&gt;Stacked 100%&lt;/wj-menu-item&gt;
 &lt;/wj-menu&gt;
 &lt;wj-menu [(value)]="rotated" [header]="'Rotated'"&gt;
     &lt;wj-menu-item [value]="false"&gt;False&lt;/wj-menu-item&gt;
     &lt;wj-menu-item [value]="true"&gt;True&lt;/wj-menu-item&gt;
 &lt;/wj-menu&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
export class AppCmp {     
    countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
    data: { country: string, downloads: number, sales: number, expenses: number }[];
    protected dataSvc: DataSvc;

    //chart properties
    chartType = 'Column';
    stacking = 'None';
    rotated = false;

    constructor(@Inject(DataSvc) dataSvc: DataSvc) {
      // data for FlexChart
      this.dataSvc = dataSvc;
      this.data = this.dataSvc.getData(this.countries);
    }
}
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [chartType]="chartType"
                           [stacking]="stacking"
                           [rotated]="rotated"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>

            <wj-menu [(value)]="chartType" [header]="'Chart Type'">
                <wj-menu-item [value]="'Column'">Column</wj-menu-item>
                <wj-menu-item [value]="'Bar'">Bar</wj-menu-item>
                <wj-menu-item [value]="'Scatter'">Scatter</wj-menu-item>
                <wj-menu-item [value]="'Line'">Line</wj-menu-item>
                <wj-menu-item [value]="'LineSymbols'">LineSymbols</wj-menu-item>
                <wj-menu-item [value]="'Area'">Area</wj-menu-item>
                <wj-menu-item [value]="'Spline'">Spline</wj-menu-item>
                <wj-menu-item [value]="'SplineSymbols'">SplineSymbols</wj-menu-item>
                <wj-menu-item [value]="'SplineArea'">SplineArea</wj-menu-item>
            </wj-menu>
            <wj-menu [(value)]="stacking" [header]="'Stacking'">
                <wj-menu-item [value]="'None'">None</wj-menu-item>
                <wj-menu-item [value]="'Stacked'">Stacked</wj-menu-item>
                <wj-menu-item [value]="'Stacked100pc'">Stacked 100%</wj-menu-item>
            </wj-menu>
            <wj-menu [(value)]="rotated" [header]="'Rotated'">
                <wj-menu-item [value]="false">False</wj-menu-item>
                <wj-menu-item [value]="true">True</wj-menu-item>
            </wj-menu>
        </div>
    </div>

    <!-- mixed chart types -->
    <h2 id="Mixed">
        Mixed Chart Types
    </h2>
    <p>
        You can use different chart types for each chart series by setting the <b>chartType</b>
        property on the series itself. This overrides the chart's default chart type.
    </p>
    <p>
        In the example below, the chart's <b>chartType</b> property is set to <b>Column</b>,
        but the <b>Downloads</b> series overrides that to use the <b>LineAndSymbol</b>
        chart type:
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [chartType]="'Column'"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'" [chartType]="'LineSymbols'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [chartType]="'Column'"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'" [chartType]="'LineSymbols'"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>

    <!-- legend and titles -->
    <h2 id="Legends">
        Legend and Titles
    </h2>
    <p>
        Use the <b>legend</b> properties to customize the appearance of the chart legend, and
        the <b>header</b>, <b>footer</b>, and axis <b>title</b> properties to add titles
        to your charts.
    </p>
    <p>
        You can style the legend and titles using CSS. The CSS tab below shows the rules
        used to customize the appearance of the legend and titles. Notice that these are
        SVG elements, so you have to use CSS attributes such as "fill" instead of "color."
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div ng-non-bindable class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [bindingX]="'country'"
     [header]="header"
     [footer]="footer"&gt;
     &lt;wj-flex-chart-legend [position]="legendPosition"&gt;&lt;/wj-flex-chart-legend&gt;
     &lt;wj-flex-chart-axis [wjProperty]="'axisX'" [title]="titleX"&gt;&lt;/wj-flex-chart-axis&gt;
     &lt;wj-flex-chart-axis [wjProperty]="'axisY'" [title]="titleY"&gt;&lt;/wj-flex-chart-axis&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
 &lt;dl class="dl-horizontal"&gt;
     &lt;dt&gt;Header&lt;/dt&gt;
     &lt;dd&gt;&lt;input [(ngModel)]="header" class="form-control" /&gt;&lt;/dd&gt;
     &lt;dt&gt;Footer&lt;/dt&gt;
     &lt;dd&gt;&lt;input [(ngModel)]="footer" class="form-control" /&gt;&lt;/dd&gt;
     &lt;dt&gt;X-Axis Title&lt;/dt&gt;
     &lt;dd&gt;&lt;input [(ngModel)]="titleX" class="form-control" /&gt;&lt;/dd&gt;
     &lt;dt&gt;Y-Axis Title&lt;/dt&gt;
     &lt;dd&gt;&lt;input [(ngModel)]="titleY" class="form-control" /&gt;&lt;/dd&gt;
     &lt;dt&gt;&lt;/dt&gt;
     &lt;dd&gt;
     &lt;wj-menu [(value)]="legendPosition" [header]="'Legend'"&gt;
         &lt;wj-menu-item [value]="'None'"&gt;None&lt;/wj-menu-item&gt;
         &lt;wj-menu-item [value]="'Left'"&gt;Left&lt;/wj-menu-item&gt;
         &lt;wj-menu-item [value]="'Top'"&gt;Top&lt;/wj-menu-item&gt;
         &lt;wj-menu-item [value]="'Right'"&gt;Right&lt;/wj-menu-item&gt;
         &lt;wj-menu-item [value]="'Bottom'"&gt;Bottom&lt;/wj-menu-item&gt;
     &lt;/wj-menu&gt;
     &lt;/dd&gt;
 &lt;/dl&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
 export class AppCmp {      
     countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
     data: { country: string, downloads: number, sales: number, expenses: number }[];

     //chart properties
     chartType = 'Column';
     legendPosition = 'Right';
     header = 'Sample Chart';
     footer= 'copyright (c) ComponentOne';
     titleX= 'country';
     titleY = 'amount';

     protected dataSvc: DataSvc;

     constructor(@Inject(DataSvc) dataSvc: DataSvc) {
         // data for FlexChart
         this.dataSvc = dataSvc;
         this.data = this.dataSvc.getData(this.countries);
     }
 
 }
                    </div>
                </app-tab-pane>
                <app-tab-pane title="CSS">
                    <div class="pane-content">
.wj-flexchart .wj-title {
    font-weight: bold;
}
.wj-flexchart .wj-header .wj-title {
    font-size: 18pt;
    fill: #80044d;
}
.wj-flexchart .wj-footer .wj-title {
    fill: #80044d;
}
.wj-flexchart .wj-axis-x .wj-title,
.wj-flexchart .wj-axis-y .wj-title {
    font-style: italic;
}
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [bindingX]="'country'"
                           [header]="header"
                           [footer]="footer">
                <wj-flex-chart-legend [position]="legendPosition"></wj-flex-chart-legend>
                <wj-flex-chart-axis [wjProperty]="'axisX'" [title]="titleX"></wj-flex-chart-axis>
                <wj-flex-chart-axis [wjProperty]="'axisY'" [title]="titleY"></wj-flex-chart-axis>
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>
            <dl class="dl-horizontal">
                <dt>Header</dt>
                <dd><input [(ngModel)]="header" class="form-control" /></dd>
                <dt>Footer</dt>
                <dd><input [(ngModel)]="footer" class="form-control" /></dd>
                <dt>X-Axis Title</dt>
                <dd><input [(ngModel)]="titleX" class="form-control" /></dd>
                <dt>Y-Axis Title</dt>
                <dd><input [(ngModel)]="titleY" class="form-control" /></dd>
                <dt></dt>
                <dd>
                    <wj-menu [(value)]="legendPosition" [header]="'Legend'">
                        <wj-menu-item [value]="'None'">None</wj-menu-item>
                        <wj-menu-item [value]="'Left'">Left</wj-menu-item>
                        <wj-menu-item [value]="'Top'">Top</wj-menu-item>
                        <wj-menu-item [value]="'Right'">Right</wj-menu-item>
                        <wj-menu-item [value]="'Bottom'">Bottom</wj-menu-item>
                    </wj-menu>
                </dd>
            </dl>
        </div>
    </div>

    <!-- tooltips -->
    <h2 id="Tooltips">
        Tooltips
    </h2>
    <p>
        The FlexChart has built-in support for tooltips. By default, the control displays
        tooltips when the user touches or hovers the mouse on a data point.
    </p>
    <p>
        The tooltip content is generated using a template that may contain the following
        parameters:
    </p>
    <ul>
        <li><b>seriesName</b>: The name of the series that contains the chart element.</li>
        <li><b>pointIndex</b>: The index of the chart element within the series.</li>
        <li><b>x</b>: The <b>x</b> value of the chart element.</li>
        <li><b>y</b>: The <b>y</b> value of the chart element.</li>
    </ul>
    <p>
        By default, the tooltip template is set to
        <code>&lt;b&gt;{seriesName}&lt;/b&gt;&lt;br/&gt;{x} {y}</code>,
        and you can see how that works in the  charts above.
        In this example, we set the tooltip template to
        <code>&lt;b&gt;{seriesName}&lt;/b&gt; &lt;img src='resources/{x}.png'/&gt;&lt;br/&gt;{y}</code>,
        which replaces the country name with the country's flag.
    </p>
    <p>
        You can disable the chart tooltips by setting the template to an empty string.
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [tooltipContent]="tooltipContent"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
 export class AppCmp {      
     countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
     data: { country: string, downloads: number, sales: number, expenses: number }[];

     //chart properties
     tooltipContent = '&lt;img src="resources/{x}.png" /&gt; &lt;b&gt;{seriesName} &lt;/b&gt;&lt;br/ &gt; {y}';

     protected dataSvc: DataSvc;

     constructor(@Inject(DataSvc) dataSvc: DataSvc) {
         // data for FlexChart
         this.dataSvc = dataSvc;
         this.data = this.dataSvc.getData(this.countries);
     }

 }
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [tooltipContent]="tooltipContent"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>
    <!-- styling series -->
    <h2 id="Styling">
        Styling Series
    </h2>
    <p>
        The FlexChart automatically picks colors for each series based on a default
        palette, which you can override by setting the <b>palette</b> property.
        But you can also override the default settings by setting the <b>style</b>
        property of any series to an object that specifies SVG styling attributes,
        including <b>fill</b>, <b>stroke</b>, <b>strokeThickness</b>, and so on.
    </p>
    <p>
        The <b>Series.style</b> property is an exception to the general rule that
        all styling in Wijmo is done through CSS. The exception reflects the fact
        that many charts have dynamic series, which would be impossible to style
        in advance. For example, a stock chart may show series selected by the
        user while running the application.
    </p>
    <p>
        The chart in this example uses the <b>style</b> and <b>symbolStyle</b> properties
        to select style attributes for each series:
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'"
         [binding]="'sales'"
         [style]="{'fill':'green', 'stroke':'darkgreen', 'stroke-width': '1'}"&gt;&lt;/wj-flex-chart-series&gt;
         &lt;wj-flex-chart-series [name]="'Expenses'"
         [binding]="'expenses'"
         [style]="{'fill':'red', 'stroke':'darkred', 'stroke-width': '1'}"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'"
         [binding]="'downloads'"
         [chartType]="'LineSymbols'"
         [style]="{'stroke':'orange', 'stroke-width': '5'}"
         [symbolStyle]="{'fill':'gold', 'stroke':'gold' }"
     &gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'"
                                      [binding]="'sales'"
                                      [style]="{'fill':'green', 'stroke':'darkgreen', 'stroke-width': '1'}"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'"
                                      [binding]="'expenses'"
                                      [style]="{'fill':'red', 'stroke':'darkred', 'stroke-width': '1'}"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'"
                                      [binding]="'downloads'"
                                      [chartType]="'LineSymbols'"
                                      [style]="{'stroke':'orange', 'stroke-width': '5'}"
                                      [symbolStyle]="{'fill':'gold', 'stroke':'gold' }"         
                                      ></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>

    <!-- customizing axes -->
    <h2 id="CustomAxes">
        Customizing Axes
    </h2>
    <p>
        Use axis properties to customize the chart's axes,
        including ranges (minimum and maximum), label format, tickmark spacing, and
        gridlines.
    </p>
    <p>
        The <b>Axis</b> class has boolean properties that allow you to turn features on
        or off (<b>axisLine</b>, <b>labels</b>, <b>majorTickMarks</b>, and <b>majorGrid</b>.)
        You can style the appearance of the features that are turned on using CSS.
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart [itemsSource]="data"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-axis [wjProperty]="'axisX'"
         [axisLine]="true"
         [majorGrid]="true"&gt;&lt;/wj-flex-chart-axis&gt;
     &lt;wj-flex-chart-axis [wjProperty]="'axisY'"
         [format]="'c0'"
         [max]="10000"
         [majorUnit]="2000"
         [axisLine]="true"
         [majorGrid]="true"&gt;&lt;/wj-flex-chart-axis&gt;
     &lt;wj-flex-chart-series [name]="'Sales'"
         [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
         &lt;wj-flex-chart-series [name]="'Expenses'"
         [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [bindingX]="'country'">
                <wj-flex-chart-axis [wjProperty]="'axisX'"
                                    [axisLine]="true"
                                    [majorGrid]="true"></wj-flex-chart-axis>
                <wj-flex-chart-axis [wjProperty]="'axisY'"
                                    [format]="'c0'"
                                    [max]="10000"
                                    [majorUnit]="2000"
                                    [axisLine]="true"
                                    [majorGrid]="true"></wj-flex-chart-axis>
                <wj-flex-chart-series [name]="'Sales'"
                                      [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'"
                                      [binding]="'expenses'"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>


    <!-- theming -->
    <h2 id="Theming">
        Theming
    </h2>
    <p>
        The appearance of the FlexChart is defined in CSS. In addition to the default theme, we
        include about a dozen professionally designed themes that customize the appearance of
        all Wijmo controls to achieve a consistent, attractive look.
    </p>
    <p>
        To customize the appearance of the chart, inspect the elements you want to style and
        create some CSS rules that apply to those elements.
    </p>
    <p>
        For example, if you right-click one of the labels on the X axis in IE or Chrome, you
        will see that it is an element with the "wj-label" class, that it is contained in an
        element with the "wj-axis-x" class, which is contained in the the top-level control
        element, which has the "wj-flexchart" class. The first CSS rule in this example uses
        this information to customize the X labels. The rule selector adds the additional
        requirement that the parent element must be have the "wj-flexchart" <b>and</b> the
        "custom-flex-chart" classes. Without this, the rule would apply to all charts on the
        page.
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart [class]="'custom-flex-chart'"
     [itemsSource]="data"
     [bindingX]="'country'"&gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="CSS">
                    <div class="pane-content">
/* custom chart theme */
 .custom-flex-chart {
     height: 400px;
     background-color: white;
     box-shadow: 4px 4px 10px 0px rgba(50, 50, 50, 0.75);
     padding: 8px;
     margin-bottom: 12px;
     display:block;
 }

 .custom-flex-chart .wj-axis-x .wj-label {
     font-family: Courier New, Courier, monospace;
     font-weight: bold;
 }
 .custom-flex-chart .wj-legend .wj-label {
     font-family: Courier New, Courier, monospace;
     font-weight: bold;
 }
 .custom-flex-chart .wj-legend > rect {
     fill: #f8f8f8;
     stroke: #c0c0c0;
 }
 .custom-flex-chart .wj-plot-area > rect {
     fill: #f8f8f8;
     stroke: #c0c0c0;
 }
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [class]="'custom-flex-chart'"
                           [itemsSource]="data"
                           [bindingX]="'country'">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>
        </div>
    </div>
    <!-- selection modes -->
    <h2 id="Selection">
        Selection Modes
    </h2>
    <p>
        The FlexChart allows you to select series or data points by clicking or touching them.
        Use the <b>selectionMode</b> property to specify whether you want to allow selection
        by series, by data point, or no selection at all (selection is off by default.)
    </p>
    <p>
        Setting the <b>selectionMode</b> property to <b>Series</b> or <b>Point</b> causes
        the FlexChart to update the <b>Selection</b> property when the user clicks the
        mouse, and to apply the "wj-state-selected" class to selected chart elements.
    </p>
    <p>
        The <b>Selection</b> property returns the currently selected series. To get the
        currently selected data point, get the currently selected item within the
        selected series using the <b>Series.collectionView.currentItem</b> property
        as shown in the example.
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div ng-non-bindable class="pane-content">
&lt;wj-flex-chart #selectionChart
    [itemsSource]="data"
    [bindingX]="'country'"
    [tooltipContent]=""
    [chartType]="chartType"
    [selectionMode]="selectionMode"&gt;
    &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"&gt;&lt;/wj-flex-chart-series&gt;
    &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"&gt;&lt;/wj-flex-chart-series&gt;
    &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"&gt;&lt;/wj-flex-chart-series&gt;
&lt;/wj-flex-chart&gt;
&lt;wj-menu [(value)]="selectionMode" [header]="'Selection Mode'"&gt;
    &lt;wj-menu-item [value]="'None'"&gt;None&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Series'"&gt;Series&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Point'"&gt;Point&lt;/wj-menu-item&gt;
&lt;/wj-menu&gt;
&lt;wj-menu [(value)]="chartType" [header]="'Chart Type'"&gt;
    &lt;wj-menu-item [value]="'Column'"&gt;Column&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Bar'"&gt;Bar&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Scatter'"&gt;Scatter&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Line'"&gt;Line&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'LineSymbols'"&gt;LineSymbols&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Area'"&gt;Area&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'Spline'"&gt;Spline&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'SplineSymbols'"&gt;SplineSymbols&lt;/wj-menu-item&gt;
    &lt;wj-menu-item [value]="'SplineArea'"&gt;SplineArea&lt;/wj-menu-item&gt;
&lt;/wj-menu&gt;

&lt;div [ngStyle]="{display: (selectionMode == 'None' || selectionChart.selection == null) ? 'none' : ''}"&gt;
    &lt;h4&gt;
        Current Selection
    &lt;/h4&gt;
    &lt;p&gt;
        Series: &lt;b&gt;{&#8203;{selectionChart.selection? selectionChart.selection.name : ''}&#8203;}&lt;/b&gt;
    &lt;/p&gt;
    &lt;dl class="dl-horizontal"  *ngIf="selectionChart.selection && selectionChart.selection.collectionView && selectionChart.selection.collectionView.currentItem"&gt;
        &lt;dt&gt;Country&lt;/dt&gt;
        &lt;dd&gt;{&#8203;{selectionChart.selection.collectionView.currentItem.country}&#8203;}&lt;/dd&gt;
        &lt;dt&gt;Sales&lt;/dt&gt;
        &lt;dd&gt;{&#8203;{selectionChart.selection.collectionView.currentItem.sales | number:'3.1-2'}&#8203;}&lt;/dd&gt;
        &lt;dt&gt;Expenses&lt;/dt&gt;
        &lt;dd&gt;{&#8203;{selectionChart.selection.collectionView.currentItem.expenses | number:'3.1-2'}&#8203;}&lt;/dd&gt;
        &lt;dt&gt;Downloads&lt;/dt&gt;
        &lt;dd&gt;{&#8203;{selectionChart.selection.collectionView.currentItem.downloads | number:'3.1-2'}&#8203;}&lt;/dd&gt;
    &lt;/dl&gt;
&lt;/div&gt;
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
 export class AppCmp {      
     countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
     data: { country: string, downloads: number, sales: number, expenses: number }[];

     //chart properties
     chartType = 'Column';
     selectionMode = 'Series';

     protected dataSvc: DataSvc;

 constructor(@Inject(DataSvc) dataSvc: DataSvc) {
     // data for FlexChart
     this.dataSvc = dataSvc;
     this.data = this.dataSvc.getData(this.countries);
 }

 }
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart #selectionChart
                           [itemsSource]="data"
                           [bindingX]="'country'"
                           [tooltipContent]=""
                           [chartType]="chartType"
                           [selectionMode]="selectionMode">
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'"></wj-flex-chart-series>
            </wj-flex-chart>
            <wj-menu [(value)]="selectionMode" [header]="'Selection Mode'">
                <wj-menu-item [value]="'None'">None</wj-menu-item>
                <wj-menu-item [value]="'Series'">Series</wj-menu-item>
                <wj-menu-item [value]="'Point'">Point</wj-menu-item>
            </wj-menu>
            <wj-menu [(value)]="chartType" [header]="'Chart Type'">
                <wj-menu-item [value]="'Column'">Column</wj-menu-item>
                <wj-menu-item [value]="'Bar'">Bar</wj-menu-item>
                <wj-menu-item [value]="'Scatter'">Scatter</wj-menu-item>
                <wj-menu-item [value]="'Line'">Line</wj-menu-item>
                <wj-menu-item [value]="'LineSymbols'">LineSymbols</wj-menu-item>
                <wj-menu-item [value]="'Area'">Area</wj-menu-item>
                <wj-menu-item [value]="'Spline'">Spline</wj-menu-item>
                <wj-menu-item [value]="'SplineSymbols'">SplineSymbols</wj-menu-item>
                <wj-menu-item [value]="'SplineArea'">SplineArea</wj-menu-item>
            </wj-menu>
    
    <div [ngStyle]="{display: (selectionMode == 'None' || selectionChart.selection == null) ? 'none' : ''}">
        <h4>
            Current Selection
        </h4>
        <p>
            Series: <b>{{selectionChart.selection? selectionChart.selection.name : ''}}</b>
        </p>
        <dl class="dl-horizontal"  *ngIf="selectionChart.selection && selectionChart.selection.collectionView && selectionChart.selection.collectionView.currentItem"
            [ngStyle]="{display: (selectionMode != 'Point' || selectionChart.selection.collectionView.currentItem == null) ? 'none' : ''}">
            <dt>Country</dt>
            <dd>{{selectionChart.selection.collectionView.currentItem.country}}</dd>
            <dt>Sales</dt>
            <dd>{{selectionChart.selection.collectionView.currentItem.sales | number:'3.1-2'}}</dd>
            <dt>Expenses</dt>
            <dd>{{selectionChart.selection.collectionView.currentItem.expenses | number:'3.1-2'}}</dd>
            <dt>Downloads</dt>
            <dd>{{selectionChart.selection.collectionView.currentItem.downloads | number:'3.1-2'}}</dd>
        </dl>
    </div>
</div>

    <h2 id="Toggle">
        Toggle Series
    </h2>
    <p>
        The <b>Series</b> class has a <b>visibility</b> property that allows you to
        determine whether a series should be shown in the chart and in the legend,
        only in the legend, or completely hidden.
    </p>
    <p>
        This sample shows how you can use the <b>visibility</b> property to toggle
        the visibility of a series using two methods:
    </p>
    <ol>
        <li>
            Clicking on legend entries:<br />
            The chart directive sets the chart's <b>legendToggle</b> property to true,
            which toggles the <b>visibility</b> property of a series when its legend entry is
            clicked.
        </li>
        <li>
            Using checkboxes:<br />
            The page uses Angular directives to bind input controls directly to the <b>visibility</b>
            property of each series.
        </li>
    </ol>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
 &lt;wj-flex-chart #toggleChart [itemsSource]="data" [legendToggle]="true" &gt;
     &lt;wj-flex-chart-series [name]="'Sales'" [binding]="'sales'" [(visibility)]="series1Visible"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'" [(visibility)]="series2Visible"&gt;&lt;/wj-flex-chart-series&gt;
     &lt;wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'" [(visibility)]="series3Visible"&gt;&lt;/wj-flex-chart-series&gt;
 &lt;/wj-flex-chart&gt;

 &lt;!-- toggle series with checkboxes --&gt;
 Sales &lt;input type="checkbox"  #salesChecked
     (click)="seriesVisible(0, salesChecked.checked)"
     [checked]="toggleChart.series[0].visibility===0" /&gt;&lt;br /&gt;
 Expenses &lt;input type="checkbox" #expensesChecked
     (click)="seriesVisible(1, expensesChecked.checked)"
     [checked]="toggleChart.series[1].visibility===0"/&gt;&lt;br /&gt;
 Downloads &lt;input type="checkbox" #downloadsChecked
     (click)="seriesVisible(2, downloadsChecked.checked)"
     [checked]="toggleChart.series[2].visibility===0"/&gt; 
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
 export class AppCmp {      
     countries = 'US,Germany,UK,Japan,Italy,Greece'.split(',');
     data: { country: string, downloads: number, sales: number, expenses: number }[];

     // chart properties
     selectionMode = 'Series';
     series1Visible = wijmo.chart.SeriesVisibility.Visible;
     series2Visible = wijmo.chart.SeriesVisibility.Visible;
     series3Visible = wijmo.chart.SeriesVisibility.Visible;

     protected dataSvc: DataSvc;

     constructor(@Inject(DataSvc) dataSvc: DataSvc) {
         // data for FlexChart
         this.dataSvc = dataSvc;
         this.data = this.dataSvc.getData(this.countries);
     }

     seriesVisible = (idx, checked) => {
         if (idx === 0) {
             this.series1Visible = checked ?
             wijmo.chart.SeriesVisibility.Visible : wijmo.chart.SeriesVisibility.Hidden;
         } else if (idx === 1) {
             this.series2Visible = checked ?
             wijmo.chart.SeriesVisibility.Visible : wijmo.chart.SeriesVisibility.Hidden;
         } else if (idx === 2) {
             this.series3Visible = checked ?
             wijmo.chart.SeriesVisibility.Visible : wijmo.chart.SeriesVisibility.Hidden;
         }
     }
}
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="data"
                           [legendToggle]="true"
                           #toggleChart>
                <wj-flex-chart-series [name]="'Sales'" [binding]="'sales'" [(visibility)]="series1Visible"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Expenses'" [binding]="'expenses'" [(visibility)]="series2Visible"></wj-flex-chart-series>
                <wj-flex-chart-series [name]="'Downloads'" [binding]="'downloads'" [(visibility)]="series3Visible"></wj-flex-chart-series>
            </wj-flex-chart>

            <!-- toggle series with checkboxes -->
           Sales <input type="checkbox"  #salesChecked
                        (click)="seriesVisible(0, salesChecked.checked)"
                          [checked]="toggleChart.series[0].visibility===0" /><br />                     
           Expenses <input type="checkbox" #expensesChecked
                           (click)="seriesVisible(1, expensesChecked.checked)"
                            [checked]="toggleChart.series[1].visibility===0"/><br />                             
            Downloads <input type="checkbox" #downloadsChecked
                             (click)="seriesVisible(2, downloadsChecked.checked)"
                           [checked]="toggleChart.series[2].visibility===0"/>                             
        </div>
    </div>

    <!-- dynamic charts -->
    <h2 id="Dynamic">
        Dynamic Charts

    </h2>
    <p>
        The FlexChart uses an <b>ICollectionView</b> internally, so any changes you make to
        the data source are automatically reflected in the chart.
    </p>
    <p>
        In this sample, we use a timer to add items to the data source, discarding old items
        to keep the total count at 200. The result is a dynamic chart that scrolls as new
        data arrives.
    </p>
    <div class="row">
        <div class="col-md-6">
            <app-tab>
                <app-tab-pane title="HTML">
                    <div class="pane-content">
  &lt;wj-flex-chart [itemsSource]="trafficData"
      [chartType]="'Area'"
      [stacking]="'Stacked'"
      [bindingX]="'time'"&gt;
      &lt;wj-flex-chart-axis [wjProperty]="'axisX'" [format]="'mm:ss'"&gt;&lt;/wj-flex-chart-axis&gt;
      &lt;wj-flex-chart-series [name]="'Trucks'" [binding]="'trucks'"&gt;&lt;/wj-flex-chart-series&gt;
  &lt;/wj-flex-chart&gt;
  &lt;dl class="dl-horizontal"&gt;
     &lt;dt&gt;Update Speed&lt;/dt&gt;
      &lt;dd&gt;
          &lt;div class="btn-group"&gt;
              &lt;button type="button" class="btn btn-default" (click)="setInterval(200)"&gt;Slow&lt;/button&gt;
              &lt;button type="button" class="btn btn-default" (click)="setInterval(100)"&gt;Medium&lt;/button&gt;
              &lt;button type="button" class="btn btn-default" (click)="setInterval(50)"&gt;Fast&lt;/button&gt;
              &lt;button type="button" class="btn btn-default" (click)="setInterval(0)"&gt;Stop&lt;/button&gt;
          &lt;/div&gt;
      &lt;/dd&gt;
  &lt;/dl&gt;      
                    </div>
                </app-tab-pane>
                <app-tab-pane title="TS">
                    <div class="pane-content">
 export class AppCmp {
     trafficData: wijmo.collections.ObservableArray;

     // help
     _toAddData = null;
     _interval = null;

     constructor() {
         // data for FlexChart
         this.trafficData = new wijmo.collections.ObservableArray();
         this.setInterval(500);
     }

     setInterval = (interval) => {
         if (this._toAddData) {
             clearTimeout(this._toAddData);
             this._toAddData = null;
         }
         this._interval = interval;
         if (interval) {
            this._toAddData = setTimeout(this._addTrafficItem);
         }
 }

     private _addTrafficItem = () => {
         var len = this.trafficData.length,
         last = len ? this.trafficData[len - 1] : null,
         trucks = last ? last.trucks : 0,
         ships = last ? last.ships : 0,
         planes = last ? last.planes : 0;
         trucks = Math.max(0, trucks + Math.round(Math.random() * 50 - 25));
         ships = Math.max(0, ships + Math.round(Math.random() * 10 - 5));
         planes = Math.max(0, planes + Math.round(Math.random() * 10 - 5));

         // add random data, limit array length
         this.trafficData.push({ time: new Date(), trucks: trucks, ships: ships, planes: planes });
         if (this.trafficData.length > 200) {
             this.trafficData.splice(0, 1);
         }

         // keep adding
         if (this._interval) {
             this._toAddData = setTimeout(this._addTrafficItem, this._interval);
             }
          }
 }
                    </div>
                </app-tab-pane>
            </app-tab>
        </div>
        <div class="col-md-6">
            <h4>Result (live):</h4>
            <wj-flex-chart [itemsSource]="trafficData"
                           [chartType]="'Area'"
                           [stacking]="'Stacked'"
                           [bindingX]="'time'">
                <wj-flex-chart-axis [wjProperty]="'axisX'" [format]="'mm:ss'"></wj-flex-chart-axis>
                <wj-flex-chart-series [name]="'Trucks'" [binding]="'trucks'"></wj-flex-chart-series>
            </wj-flex-chart>
            <dl class="dl-horizontal">
                <dt>Update Speed</dt>
                <dd>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" (click)="setInterval(200)">Slow</button>
                        <button type="button" class="btn btn-default" (click)="setInterval(100)">Medium</button>
                        <button type="button" class="btn btn-default" (click)="setInterval(50)">Fast</button>
                        <button type="button" class="btn btn-default" (click)="setInterval(0)">Stop</button>
                    </div>
                </dd>
            </dl>
        </div>
    </div>
</div>