<div>
    <div class="copy">
        <h3>
            ComboBox
        </h3>
        <p>
            The <a href="http://wijmo.com/5/docs/topic/wijmo.input.ComboBox.Class.html"
                   target="_blank">ComboBox</a> control is simple and powerful. These are the
            main properties of the ComboBox:
        </p>
        <dl class="dl-horizontal">
            <dt>
                itemsSource
            </dt>
            <dd>
                Gets or sets an
                <a href="http://wijmo.com/5/docs/topic/wijmo.collections.ObservableArray.Class.html"
                   target="_blank">array</a> or an
                <a href="http://wijmo.com/5/docs/topic/wijmo.collections.ICollectionView.Interface.html"
                   target="_blank">ICollectionView</a> that contains the items to display.
            </dd>
            <dt>
                displayMemberPath
            </dt>
            <dd>
                If the items from the itemsSource are objects (as opposed to strings), use this property to
                specify which property of the items to display in the ComboBox.
            </dd>
            <dt>
                text
            </dt>
            <dd>
                Gets or sets the text in the control. Use this property to collect text that the user
                enters or selects.
            </dd>
            <dt>
                selectedIndex
            </dt>
            <dd>
                Gets or sets the index of the currently selected item in the itemsSource.
            </dd>
            <dt>
                selectedItem
            </dt>
            <dd>
                Gets or sets currently selected item in the itemsSource.
            </dd>
            <dt>
                isEditable
            </dt>
            <dd>
                Gets or sets whether the user can type values that are not in the itemsSource.
            </dd>
        </dl>
        <p>
            The <b>itemsSource</b> and <b>displayMemberPath</b> properties are responsible for populating the
            option list. They are mainly input properties. The <b>text</b>, <b>selectedItem</b>, and
            <b>selectedIndex</b> properties change to reflect user input. They are mainly output
            properties.
        </p>
        <p>
            These samples use the <a no-href="http://wijmo.com/5/docs/topic/wijmo.angular.WjComboBox.Class.html"
                                     target="_blank">WjComboBox</a> component and Angular 2.
        </p>
        <p>
            The table below contains a regular input element and some <b>ComboBox</b> controls, with and
            without drop-down items. Try typing the names of some countries. As you type, the ComboBox
            automatically completes the entry. You can use the up and down keys to select the previous
            or next item that matches the text you typed.
        </p>
        <p>
            Notice how the list of items automatically positions above or below the control to fit the
            available space. Notice also how you can customize the control appearance using regular CSS.
        </p>
    </div>

    <!-- BEGIN -->

    <div class="row div-thick col-head">
        <div class="col-sm-3 col-xs-12">
            Description
        </div>
        <div class="col-sm-6 col-xs-12">
            Live Control
        </div>
        <div class="col-sm-3 col-xs-12">
            Bound Value
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            Regular input element
        </div>
        <div class="col-sm-6 col-xs-12">
            <input type="text"
                   class="form-control"
                   placeholder="regular input"
                   [(ngModel)]="country1" />
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country1}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            Regular input element, styled
        </div>
        <div class="col-sm-6 col-xs-12">
            <input type="text"
                   class="form-control customEdit"
                   placeholder="regular input"
                   [(ngModel)]="country1" />
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country1}}
        </div>
    </div>
    <div class="row div-thick">
        <div class="col-sm-3 col-xs-12">
            ComboBox with no items
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box [(text)]="country1"
                          [placeholder]="'anything (no items)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country1}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            Array source, editable
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box [(text)]="country2"
                          [itemsSource]="countries"
                          [isEditable]="true"
                          [placeholder]="'country (selectable and editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country2}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            Array source, editable, styled
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box class="customEdit"
                          [(text)]="country2"
                          [itemsSource]="countries"
                          [isEditable]="true"
                          [placeholder]="'country (selectable and editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country2}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            Array source, non-editable
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box [(text)]="country3"
                          [itemsSource]="countries"
                          [isEditable]="false"
                          [placeholder]="'country (selectable but not editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country3}}
        </div>
    </div>
    <div class="row div-thick">
        <div class="col-sm-3 col-xs-12">
            Array source, non-editable, styled
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box class="customEdit"
                          [(text)]="country3"
                          [itemsSource]="countries"
                          [isEditable]="false"
                          [placeholder]="'country (selectable but not editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{country3}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            CollectionView source, editable
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box #cmb1
                          [(text)]="item1"
                          [itemsSource]="items"
                          [displayMemberPath]="'country'"
                          [selectedValuePath]="'id'"
                          [isEditable]="true"
                          [placeholder]="'item (displayMember=country, editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{item1}}, ID: {{cmb1.selectedItem?.id}}
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            CollectionView source, non-editable
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box #cmb2
                          [(text)]="item2"
                          [itemsSource]="items"
                          [displayMemberPath]="'country'"
                          [selectedValuePath]="'id'"
                          [isEditable]="false"
                          [placeholder]="'item (displayMemberPath=country, not editable)'">
            </wj-combo-box>
        </div>
        <div class="col-sm-3 col-xs-12">
            {{item2}}, ID: {{cmb2.selectedItem?.id}}
        </div>
    </div>
    <div class="row div-thick">
        <div class="col-sm-3 col-xs-12">
            CollectionView in a grid
        </div>
        <div class="col-sm-6 col-xs-12 app-resize-grid">
            <wj-flex-grid style="height:250px;width:350px"
                          [itemsSource]="items"
                          [selectionMode]="'Row'">
            </wj-flex-grid>
        </div>
    </div>
    <div class="row div-thin">
        <div class="col-sm-3 col-xs-12">
            HTML content
        </div>
        <div class="col-sm-6 col-xs-12">
            <wj-combo-box [itemsSource]="htmlItems"
                          [isEditable]="false"
                          [isContentHtml]="true">
            </wj-combo-box>
        </div>
    </div>
</div>
