<div>
    <div class="copy">
        <h3>
            Introduction
        </h3>
        <p>
            The <a href="http://wijmo.com/5/docs/" target="_blank">wijmo.input</a>
            module provides the following controls:
        </p>

        <dl class="dl-horizontal">
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputDate.Class.html"
                   target="_blank"><b>InputDate</b></a>
            </dt>
            <dd>
                Edit date values or pick dates from a drop-down calendar.
                Bind the control to JavaScript <b>Date</b> values using the control's <b>value</b> property.
                Use the <b>min</b> and <b>max</b> properties to restrict the valid date range.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputTime.Class.html"
                   target="_blank"><b>InputTime</b></a>
            </dt>
            <dd>
                Edit time values or pick times from a drop-down list.
                Bind the control to JavaScript <b>Date</b> values using the control's <b>value</b> property.
                Use the <b>min</b> and <b>max</b> properties to restrict the valid time range.
                Use the <b>step</b> property to select the interval between time values shown in the drop-down list.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputDateTime.Class.html"
                   target="_blank"><b>InputDateTime</b></a>
            </dt>
            <dd>
                Edit date and time parts of JavaScript Date values using two separate drop-down controls:
                a Calendar for the date and a drop-down list for the time.
                Bind the control to JavaScript <b>Date</b> values using the control's <b>value</b> property.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputNumber.Class.html"
                   target="_blank"><b>InputNumber</b></a>
            </dt>
            <dd>
                Edit numeric values or use spinner buttons to increment or decrement the current value.
                Bind the control to JavaScript variables using the control's <b>value</b> property.
                Use the <b>min</b> and <b>max</b> properties to restrict the valid numeric range.
                Use the <b>step</b> property to select the increment applied when the user clicks the spinner buttons.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputMask.Class.html"
                   target="_blank"><b>InputMask</b></a>
            </dt>
            <dd>
                Edit strings using a mask that prevents invalid input and skips over literals.
                Bind the control to JavaScript variables using the control's <b>value</b> property.
                Use the <b>mask</b> property to specify the format of the input.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.ComboBox.Class.html"
                   target="_blank"><b>ComboBox</b></a>
            </dt>
            <dd>
                Select values by picking them from a list with auto-completion.
                Use the <b>isEditable</b> property to determine whether users can type values that are not on the list.
                Use the <b>displayMemberPath</b> and <b>displayValuePath</b> properties to select from tables with
                complex objects (e.g. key/value pairs).
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.AutoComplete.Class.html"
                   target="_blank"><b>AutoComplete</b></a>
            </dt>
            <dd>
                Select values from lists retrieved dynamically from the server.
                The <b>AutoComplete</b> control retrieves options from the server as the user types. This allows
                the control to work against very large lists, which would be impractical to load onto the client.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.MultiSelect.Class.html"
                   target="_blank"><b>MultiSelect</b></a>
            </dt>
            <dd>
                Select multiple items from drop-down lists that contain custom objects or simple strings
                with checkboxes.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.DropDown.Class.html"
                   target="_blank"><b>DropDown</b></a>
            </dt>
            <dd>
                Select values or invoke commands by picking them from a drop-down list.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.Calendar.Class.html"
                   target="_blank"><b>Calendar</b></a>
            </dt>
            <dd>
                Select a date from a month calendar, navigating through days, months, and years.
                Use the <b>min</b> and <b>max</b> properties to restrict the selectable dates.
                This control is displayed in the drop-down part of the <b>InputDate</b>.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.Menu.Class.html"
                   target="_blank"><b>Menu</b></a>
            </dt>
            <dd>
                Select an option from a drop-down list of options.
                The <b>Menu</b> control supports MVVM commanding, where each option has methods that execute
                commands and determine whether commands can be executed in the current application state.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.ListBox.Class.html"
                   target="_blank"><b>ListBox</b></a>
            </dt>
            <dd>
                Display a list of values containing plain text or HTML, and allow users to select a value.
                This control is displayed in the drop-down part of the <b>ComboBox</b>, <b>AutoComplete</b>,
                <b>TimePicker</b>, and <b>Menu</b> controls.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.ColorPicker.Class.html"
                   target="_blank"><b>ColorPicker</b></a>
            </dt>
            <dd>
                Select a color by picking from a customizable palette or by editing its components
                ((hue, saturation, brightness, and transparency).
                This control is displayed in the drop-down part of the <b>InputColor</b>.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.InputColor.Class.html"
                   target="_blank"><b>InputColor</b></a>
            </dt>
            <dd>
                Select a color by picking editing its HTML specification or by using a drop-down that
                shows a <b>ColorPicker</b> control.
            </dd>
            <dt>
                <a href="http://wijmo.com/5/docs/topic/wijmo.input.Popup.Class.html"
                   target="_blank"><b>Popup</b></a>
            </dt>
            <dd>
                Displays HTML elements as dialogs or as tooltips. <b>Popup</b> controls shown as
                dialogs are centered on the page, and may be modal or modeless. <b>Popup</b>
                controls shown as tooltips are anchored to "owner" controls and may display
                arbitrary content
            </dd>

        </dl>
    </div>
</div>
