.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
}

.grid-header {
    background: #d6d6ff;
}
    .grid-header.wj-state-sticky {
	    opacity: 0.90;
        background: #e5e5ff;
    }

.wj-flexgrid {
    max-height: 450px;
}