<br />
<p>
    This application is based on an OData version of the traditional Northwind database.</p>
<p>
    The OData source was created using the Microsoft Entity Framework over a SQL Server 
    Compact Edition (sdf) file.</p>
<p>
    The <b>ODataCollectionView</b> class in the <b>wijmo.odata.js</b> module extends the 
    <b>CollectionView</b> class to connect to OData services. In addition to getting and 
    setting the data, it provides an easy way to specify whether filtering, sorting, and 
    paging should be performed on the server or on the client.</p>
<p>
    Note that the grids have several data-mapped columns. For example, the orders grid shows
    the name of the employee rather than the ID. If you change an employee's name, the orders
    grid will be updated automatically.</p>