<div>
    <div class="copy">
        <h3>
            Drag & Drop
        </h3>
        <p>
            FlexSheet supports drag and drop the columns or rows into other columns or rows.<br />
            FlexSheet does not only copy or move the data of the cells, but also copy or move the style of the cells.<br />
            When drag drop without any key pressing, it will move the selected columns or rows into the dropping columns or rows.<br />
            When drag drop with <b>'Ctrl'</b> key pressing, it will copy the selected columns or rows into the dropping columns or rows.<br />
            When drag drop with <b>'Shift'</b> key pressing, it will change the position of the selected columns or rows with the dropping columns or rows.
        </p>
    </div>
    <div>
        <wj-flex-sheet #flexSheet class="flexSheet" (initialized)="flexSheetInit(flexSheet)">
            <wj-sheet name="Unbound" [rowCount]="20" [columnCount]="8"></wj-sheet>
        </wj-flex-sheet>
    </div>
</div>