<div>
    <div class="copy">
        <h3>
            Sorting
        </h3>
        <p>
            FlexSheet can be sorted by its each column.  The <b>SortManager</b> helps FlexSheet to manage the sort processing including set the order of the sorting, add sort column, remove sort column and change the order of the sort columns.
        </p>
    </div>
    <div>
        <div class="row" id="sortTable">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center">Column</th>
                        <th class="text-center">Order</th>
                    </tr>
                </thead>
                <tbody *ngIf="sortManager">
                    <tr *ngFor="let sortItem of sortManager.sortDescriptions.items"
                        (click)="sortManager.sortDescriptions.moveCurrentTo(sortItem)"
                        [ngClass]="{success: sortItem === sortManager.sortDescriptions.currentItem}">
                        <td>
                            <select class="form-control" (change)="applySortColumnIndex($event, sortItem)">
                                <option value=-1></option>
                                <option *ngFor="let column of columns; let i = index" [selected]="i === sortItem.columnIndex"
                                        value={{i}}>
                                    {{column}}
                                </option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control" (change)="applySortAscending($event, sortItem)">
                                <option [value]="true" [selected]="sortItem.ascending">Ascending</option>
                                <option [value]="false" [selected]="!sortItem.ascending">Descending</option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row well well-lg">
            <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="addSortLevel()">
                    <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Add Level
                </button>
                <button type="button" class="btn btn-default" (click)="deleteSortLevel()">
                    <span class="glyphicon glyphicon-remove-sign"></span>&nbsp;Delete Level
                </button>
                <button type="button" class="btn btn-default" (click)="copySortLevel()">
                    <span class="glyphicon glyphicon-copy"></span>&nbsp;Copy Level
                </button>
            </div>
            <div class="btn-group" *ngIf="sortManager">
                <button id="moveup" type="button"
                        class="btn btn-default"
                        [disabled]="sortManager.sortDescriptions.currentPosition <= 0"
                        (click)="moveSortLevel(-1)">
                    <span class="glyphicon glyphicon-arrow-up"></span>
                </button>
                <button id="movedown" type="button"
                        class="btn btn-default"
                        [disabled]="sortManager.sortDescriptions.currentPosition >= sortManager.sortDescriptions.itemCount - 1"
                        (click)="moveSortLevel(1)">
                    <span class="glyphicon glyphicon-arrow-down"></span>
                </button>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default" (click)="commitSort()">OK</button>
                <button type="button" class="btn btn-default" (click)="cancelSort()">Cancel</button>
            </div>
        </div>
        <wj-flex-sheet #flexSheet class="flexSheet" (initialized)="flexSheetInit(flexSheet)">
            <wj-sheet name="Country"></wj-sheet>
        </wj-flex-sheet>
    </div>
</div>