<div class="panel panel-default">
    <div class="panel-heading">Chart Types</div>
    <div class="panel-body">
        <ul class="flat-list">
            <li><a href="#/chart-types/heikin-ashi">Heikin-Ashi</a></li>
            <li><a href="#/chart-types/line-break">Line Break</a></li>
            <li><a href="#/chart-types/renko">Renko</a></li>
            <li><a href="#/chart-types/kagi">Kagi</a></li>
            <li><a href="#/chart-types/column-volume">ColumnVolume</a></li>
            <li><a href="#/chart-types/equi-volume">EquiVolume</a></li>
            <li><a href="#/chart-types/candle-volume">CandleVolume</a></li>
            <li><a href="#/chart-types/arms-candle-volume">Arms CandleVolume</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Interaction</div>
    <div class="panel-body">
        <ul class="flat-list">
            <li><a href="#/interaction/markers">Markers</a></li>
            <li><a href="#/interaction/range-selector">Range Selector</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Analytics</div>
    <div class="panel-body">
        <ul class="flat-list">
            <li><a href="#/analytics/trend-lines">Trend Lines</a></li>
            <li><a href="#/analytics/moving-averages">Moving Averages</a></li>
            <li><a href="#/analytics/overlays">Overlays</a></li>
            <li><a href="#/analytics/indicators">Indicators</a></li>
            <li><a href="#/analytics/event-annotations">Event Annotations</a></li>
            <li><a href="#/analytics/fibonacci-tool">Fibonacci Tool</a></li>
        </ul>
    </div>
</div>
