<div>
    <h2>{{ title }}</h2>
    <p>
        Event annotations are used to mark important events that can be attached
        to a specific data point on the FinancialChart. Hovering over the event
        annotation will reveal the full details of the event.
    </p>

    <!-- FinancialChart -->
    <wj-financial-chart #chart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="Candlestick"
                        [symbolSize]="6"
                        (rendered)="chartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"
                                   [name]="selectedSymbol | uppercase">
        </wj-financial-chart-series>
        <wj-flex-chart-annotation-layer>
            <wj-flex-chart-annotation-rectangle *ngFor="let a of annotations"
                                      content="E"
                                      [height]="20"
                                      [width]="20"
                                      attachment="DataIndex"
                                      [tooltip]="a.tooltip"
                                      [pointIndex]="a.dataIndex">
            </wj-flex-chart-annotation-rectangle>
        </wj-flex-chart-annotation-layer>
    </wj-financial-chart>

    <!-- Range Selector -->
    <wj-financial-chart #selectorChart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="Candlestick"
                        style="height: 200px"
                        tooltipContent=""
                        [symbolSize]="6"
                        (rendered)="selectorChartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"></wj-financial-chart-series>
        <wj-flex-chart-range-selector #selector
                                      [seamless]="true"
                                      (rangeChanged)="rangeChanged()">
        </wj-flex-chart-range-selector>
    </wj-financial-chart>
</div>