body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    padding: 0 0 10px;
}

h1, h2, h3, h4, h5, h6 {
    color: #80044d;
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
    margin-top:0;
}

.header {
    color: #e3bfd5;
    background-color: #80044d;
    margin-bottom: 14px;
    padding: 12px 0;
}

    .header h1 {
        color: #fff;
        font-size: 40px;
        line-height: 1;
        margin-top: 0;
    }

    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }

.report-names {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

@media print {
    .report-names {
        display: none;
    }
}

    .report-names .combobox {
        height: 30px;
        width: 220px;
        margin-right: 20px;
    }