<h2>{{ title }}</h2>
<p>
    This sample illustrates how to draw a simple table and split table rows across pages by using horizontal page breaks.
    <a href="" target="_self" data-toggle="collapse" data-target=".collapse" class="collapse in read-more">Read More</a>
</p>

<div class="collapse">
    This sample uses <b>rect</b> and <b>drawText</b> methods to draw table cells. The <b>addPage</b> method is used to add a new page if a row exceeds the page bounds.
</div>

<!-- Export button -->
<button class="btn btn-default" id="Button1" ng-click="export()">Export</button>