<h2>{{ title }}</h2>
<p>
    This sample shows how to create an expense report and save it to a PDF file using <b>PdfDocument</b> API.
    <a href="" target="_self" data-toggle="collapse" data-target=".collapse" class="collapse in read-more">Read More</a>
</p>

<div class="collapse">
    <p>
        The sample uses <b>drawText</b> and vector graphics methods to draw captions, expected handwritten entries and table cells.
    </p>
    <p>
        The <b>scale</b> method is used to scale the table so that it fits the page width.
    </p>
</div>

<!-- Export button -->
<button class="btn btn-default" id="Button1" ng-click="export()">Export</button>