<div class="panel panel-default">
    <div class="panel-heading">FlexGridPdfConverter</div>
    <div class="panel-body">
        <ul class="flat-list">
            <li><a href="#/flexgridpdfconverter/introduction">Introduction</a></li>
            <li><a href="#/flexgridpdfconverter/export">Export to a file</a></li>
            <li><a href="#/flexgridpdfconverter/draw">Export to PdfDocument</a></li>
            <li><a href="#/flexgridpdfconverter/custom-fonts">Custom fonts</a></li>
            <li><a href="#/flexgridpdfconverter/expenses-report">Expense report</a></li>
			<li><a href="#/flexgridpdfconverter/expense-analysis-report">Expense analysis report</a></li>
        </ul>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">PdfDocument</div>
    <div class="panel-body">
        <ul class="flat-list">
            <li><a href="#/pdfdocument/introduction">Introduction</a></li>
            <li><a href="#/pdfdocument/page-structure">Page structure</a></li>
            <li><a href="#/pdfdocument/drawing-graphics">Drawing graphics</a></li>
            <li><a href="#/pdfdocument/drawing-text">Drawing text</a></li>
            <li><a href="#/pdfdocument/fonts">Fonts</a></li>
            <li><a href="#/pdfdocument/custom-fonts">Custom fonts</a></li>
            <li><a href="#/pdfdocument/rich-text">Rich text</a></li>
            <li><a href="#/pdfdocument/drawing-images">Drawing images</a></li>
            <li><a href="#/pdfdocument/running-titles">Customizing headers and footers declaratively</a></li>
            <li><a href="#/pdfdocument/drawing-tables">Drawing tables</a></li>
            <li><a href="#/pdfdocument/expenses-report">Expense report</a></li>
			<li><a href="#/pdfdocument/drawing-flexpie">Drawing FlexPie (raster image)</a></li>
			<li><a href="#/pdfdocument/drawing-flexpie-svg">Drawing FlexPie (SVG)</a></li>
        </ul>
    </div>
</div>