<div>
    <div class="copy">
        <h3>
            Introduction
        </h3>
        <p>
            This view shows the <b>FlexPie</b>'s labels created using <b>itemFormatter</b>.
        </p>
    </div>
    <div>

        <!-- the chart -->
        <wj-flex-pie class="chart"
                           control="ctx.chart"
                           binding="value"
                           binding-name="name"
                           items-source="ctx.itemsSource">
        </wj-flex-pie>
    </div>
</div>
