<h2>{{ title }}</h2>
<p>
    <b>FlexGridPdfConverter</b> is a PdfDocument-based JavaScript library that provides methods to export FlexGrid to PDF without using any server-side code.
</p>
<p>
    It provides <b>export</b> class method which is used to export FlexGrid to a new PDF file with a specified name. Also, it provides <b>draw</b> and <b>drawToPosition</b> class methods
    which are used to export FlexGrid to an existing PdfDocument instance.
</p>
<p>
    It supports page breaks (both vertical and horizontal, depending on the scale settings), and other FlexGrid features such as row grouping, cell merging and tree view.
</p>
