body {
    background-color: #f8f8f8;
    font-family: -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system-font, 'Segoe UI Light', 'Segoe UI', 'Roboto', sans-serif;
    font-weight: 300;
}

.header {
    background-color: #80044d;
    margin-bottom: 14px;
    padding: 12px 0px;
    color: #e3bfd5;
}

    .header h1 {
        font-size: 40px;
        line-height: 1;
        margin: 8px 0 5px 0;
        color: #fff;
    }

    .header img {
        float: left;
        margin: 0 10px 5px 0;
    }

h2 {
    margin: 15px 0 30px 20px;
}

h1, h2, h3, h4, h5, h6 {
    color: #80044d;
}

.pane-content {
    background-color: white;
    padding: 0px 8px;
    border: 1px solid #dddddd;
    border-top: none;
    white-space: pre;
    overflow: auto;
    font-size: 13px;
    font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
}

.flatList {
    list-style-type: none;
    padding-left: 10px;
}

/* set default chart style */
.wj-flexchart {
    height: 400px;
    background-color: white;
    padding: 8px;
    border: 1px solid #e4e4e4;
    margin-bottom: 12px;
}
    .wj-flexchart .wj-title {
        font-weight: bold;
    }
    .wj-flexchart .wj-header .wj-title {
        font-size: 18pt;
        fill: #80044d;
    }
    .wj-flexchart .wj-footer .wj-title {
        fill: #80044d;
    }
    .wj-flexchart .wj-axis-x .wj-title,
    .wj-flexchart .wj-axis-y .wj-title {
        font-style: italic;
    }

/* custom chart theme */
.custom-flex-chart.wj-flexchart .wj-axis-x .wj-label {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}
.custom-flex-chart.wj-flexchart .wj-legend .wj-label {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
}
.custom-flex-chart.wj-flexchart .wj-legend > rect {
    fill: #f8f8f8;
    stroke: #c0c0c0;
}
.custom-flex-chart.wj-flexchart .wj-plot-area > rect {
    fill: #f8f8f8;
    stroke: #c0c0c0;
}

.copy {
    margin: 0 0 30px 0;
}

/* responsive layout */
@media(min-width: 992px) {
    .collapse.app-lg-visible {
        display: block;
    }

    .btn.collapse {
        display: none !important;
    }
}

@media(max-width: 991px) {
    .header h1 {
        font-size: 22px;
        line-height: 1;
        margin-top: 7px;
        color: #fff;
    }

    h2 {
        font-size: 22px;
        margin: 10px 0 25px 20px;
    }

    .wj-flexchart {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .tabbable {
        margin-bottom: 20px;
    }

    .wj-dropdown {
        width: 100%;
        margin-bottom: 10px;
    }

    .dl-horizontal, .btn-group, .input-group {
        margin-bottom: 10px;
    }

    .btn[data-target] {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 767px) {
    code {
        white-space: normal;
    }
}

#menuFitType, #menuType {
    width: 200px;
    margin-bottom: 10px;
}

#inputOrder {
    width: 135px;
}

#checkboxShowEquation {
    margin-right: 10px;
}

#labelOrder, #labelPeriod {
    padding: 10px;
}

#periodVal {
    width: 130px;
}

.wj-inputnumber {
    margin-bottom: 10px;
}