<h2>{{ title }}</h2>
<p>
    Fibonacci tool is used for trend analysis in financial charts. With the help of range selector, you can choose data range for calculation.
</p>

<!-- FinancialChart -->
<wj-financial-chart items-source="data"
                    binding-x="date"
                    control="ctx.chart"
                    symbol-size="6"
                    chart-type="Candlestick">
    <wj-financial-chart-series binding-x="date"
                               binding="high,low,open,close"
                               name="{{ selectedSymbol | uppercase }}">
    </wj-financial-chart-series>
    <wj-flex-chart-fibonacci binding="close"
                             symbol-size="1"
                             ng-attr-style="{ fill: 'red', stroke: 'red', strokeWidth:0.5, fontSize:10 }"
                             label-position="{{ ctx.properties.retracements.labelPosition }}"
                             uptrend="{{ ctx.properties.retracements.uptrend }}"
                             visibility="selectedFib === 'retracements' ? 'Visible' : 'Hidden'">
    </wj-flex-chart-fibonacci>

    <wj-flex-chart-fibonacci-arcs binding="close"
                                  start="ctx.properties.arcs.start"
                                  end="ctx.properties.arcs.end"
                                  label-position="{{ ctx.properties.arcs.labelPosition }}"
                                  visibility="selectedFib === 'arcs' ? 'Visible' : 'Hidden'">
    </wj-flex-chart-fibonacci-arcs>

    <wj-flex-chart-fibonacci-fans binding="close"
                                  start="ctx.properties.fans.start"
                                  end="ctx.properties.fans.end"
                                  label-position="{{ ctx.properties.fans.labelPosition }}"
                                  visibility="selectedFib === 'fans' ? 'Visible' : 'Hidden'">
    </wj-flex-chart-fibonacci-fans>

    <wj-flex-chart-fibonacci-time-zones binding="close"
                                        start-x="ctx.properties.timeZones.start"
                                        end-x="ctx.properties.timeZones.end"
                                        label-position="{{ ctx.properties.timeZones.labelPosition }}"
                                        visibility="selectedFib === 'timeZones' ? 'Visible' : 'Hidden'">
    </wj-flex-chart-fibonacci-time-zones>

    <wj-flex-chart-range-selector control="ctx.selector" is-visible="{{ ctx.properties.retracements.selectorVisible && selectedFib !== 'timeZones' }}"
                                  seamless="true"
                                  range-changed="rangeChanged(s,e)">
    </wj-flex-chart-range-selector>

</wj-financial-chart>

<!-- Settings -->
<div class="panel-group" id="settings">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#settings" href="#settingsBody" target="_self">{{ title }} Settings</a>
            </h4>
        </div>
        <div id="settingsBody" class="panel-collapse collapse in">
            <div class="panel-body">
                <!-- General-->
                <ul class="list-inline">
                    <li>
                        <wj-menu header="Type" value="selectedFib" item-clicked="fibTypeClicked(s,e)">
                            <wj-menu-item value="'arcs'">Arcs</wj-menu-item>
                            <wj-menu-item value="'fans'">Fans</wj-menu-item>
                            <wj-menu-item value="'retracements'">Retracements</wj-menu-item>
                            <wj-menu-item value="'timeZones'">Time Zones</wj-menu-item>
                        </wj-menu>
                    </li>
                </ul>

                <!-- Retracements -->
                <ul class="list-inline" ng-if="selectedFib === 'retracements'">
                    <li>
                        <wj-menu header="Uptrend"
                                 value="ctx.properties.retracements.uptrend">
                            <wj-menu-item value="true">True</wj-menu-item>
                            <wj-menu-item value="false">False</wj-menu-item>
                        </wj-menu>
                    </li>

                    <li>
                        <wj-menu header="Label position"
                                 value="ctx.properties.retracements.labelPosition">
                            <wj-menu-item value="'Left'">Left</wj-menu-item>
                            <wj-menu-item value="'Center'">Center</wj-menu-item>
                            <wj-menu-item value="'Right'">Right</wj-menu-item>
                        </wj-menu>
                    </li>

                    <li>
                        <label>
                            Range selector
                            <input type="checkbox" ng-model="ctx.properties.retracements.selectorVisible"/>
                        </label>
                    </li>

                </ul>

                <!-- Arcs -->
                <ul class="list-inline" ng-if="selectedFib === 'arcs'">
                    <wj-menu header="Label position"
                             value="ctx.properties.arcs.labelPosition">
                        <wj-menu-item value="'None'">None</wj-menu-item>
                        <wj-menu-item value="'Top'">Top</wj-menu-item>
                        <wj-menu-item value="'Center'">Center</wj-menu-item>
                        <wj-menu-item value="'Bottom'">Bottom</wj-menu-item>
                    </wj-menu>
                </ul>
                <ul class="list-inline" ng-if="selectedFib === 'arcs'">
                    <li>
                        <label>Start X</label>
                        <wj-input-number ng-model="ctx.properties.arcs.start.x"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                    <li>
                        <label>Start Y</label>
                        <wj-input-number ng-model="ctx.properties.arcs.start.y"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                </ul>
                <ul class="list-inline" ng-if="selectedFib === 'arcs'">
                    <li>
                        <label>End X</label>
                        <wj-input-number ng-model="ctx.properties.arcs.end.x"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                    <li>
                        <label>End Y</label>
                        <wj-input-number ng-model="ctx.properties.arcs.end.y"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                </ul>

                <!-- Fans -->
                <ul class="list-inline" ng-if="selectedFib === 'fans'">
                    <wj-menu header="Label position"
                             value="ctx.properties.fans.labelPosition">
                        <wj-menu-item value="'None'">None</wj-menu-item>
                        <wj-menu-item value="'Top'">Top</wj-menu-item>
                        <wj-menu-item value="'Center'">Center</wj-menu-item>
                        <wj-menu-item value="'Bottom'">Bottom</wj-menu-item>
                    </wj-menu>
                </ul>
                <ul class="list-inline" ng-if="selectedFib === 'fans'">
                    <li>
                        <label>Start X</label>
                        <wj-input-number ng-model="ctx.properties.fans.start.x"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                    <li>
                        <label>Start Y</label>
                        <wj-input-number ng-model="ctx.properties.fans.start.y"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                </ul>
                <ul class="list-inline" ng-if="selectedFib === 'fans'">
                    <li>
                        <label>End X</label>
                        <wj-input-number ng-model="ctx.properties.fans.end.x"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                    <li>
                        <label>End Y</label>
                        <wj-input-number ng-model="ctx.properties.fans.end.y"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                </ul>

                <!-- Time Zones -->
                <ul class="list-inline" ng-if="selectedFib === 'timeZones'">
                    <wj-menu header="Label position"
                             value="ctx.properties.timeZones.labelPosition">
                        <wj-menu-item value="'None'">None</wj-menu-item>
                        <wj-menu-item value="'Left'">Left</wj-menu-item>
                        <wj-menu-item value="'Center'">Center</wj-menu-item>
                        <wj-menu-item value="'Right'">Right</wj-menu-item>
                    </wj-menu>
                </ul>
                <ul class="list-inline" ng-if="selectedFib === 'timeZones'">
                    <li>
                        <label>Start X</label>
                        <wj-input-number ng-model="ctx.properties.timeZones.start"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                    <li>
                        <label>End X</label>
                        <wj-input-number ng-model="ctx.properties.timeZones.end"
                                         step="1"
                                         value-changed="valueChanged(s,e)"></wj-input-number>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>