<h2>Inherit from WjFlexGrid</h2>
<p>
    This sample demonstrates how to create a custom FlexGrid component by deriving it from 
    the WjFlexGrid component. It implements the InheritedGrid component which is a customized grid 
    with cells immediately available
    for editing and a Select column that allows to select a single or multiple rows depending
    on the setting specified in the "Selection type" menu. The Select column is embedded to the
    grid, you don't need to specify it in the column list. Another columns that should be shown
    by the grid are defined in a usual way by means of the child WjFlexGridColumn components. 
    Cell editing can be disabled, but row selection functionality is always available.
</p>
<p>
    The InheritedGrid component is derived from the WjFlexGrid component and uses @WjComponent decorator
    instead of the standard @Component decorator to specify component specific properties. WjComponent
    allows to specify all the properties pertain to the Component decorator plus several Wijmo specific
    properties. The main advantage of WjComponent over Component is that it merges options defined for 
    this component with the options defined by the decorator of the base class, while Component fully
    overrides settings defined in the base class decorator. As a result, with WjComponent you don't
    need to specify all the properties like 'inputs' and 'outputs' from scratch, you only need to specify
    the ones specific to this component, and they will be merged with the properties defined in the
    base component class.  
</p>
<p>
    Because the Select column should be embedded in the grid, we redefine the component template
    and include it right there using the WjFlexGridColumn component. The other element of the template
    is ng-content which is a placeholder for arbitrary WjFlexGridColumn components defined in the
    markup for the InheritedGrid component.
</p>

<wj-menu [header]="'Selection type'" [(value)]="selectionType">
    <wj-menu-item [value]="SelectionTypeEnum.Single">Single</wj-menu-item>
    <wj-menu-item [value]="SelectionTypeEnum.Multiple">Multiple</wj-menu-item>
</wj-menu>
<input type="checkbox" [(ngModel)]="grid.isEditable" style="margin-left:30px"/> Editable
<br />
<br />
<inherited-grid #grid [itemsSource]="data" [selectionType]="selectionType" style="height:300px">
    <wj-flex-grid-column [header]="'ID'" [binding]="'id'" [width]="70">
    </wj-flex-grid-column>
    <wj-flex-grid-column [binding]="'country'"
                         [header]="'Country'">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <editable-string-renderer [cell]="cell"></editable-string-renderer>
        </template>
    </wj-flex-grid-column>
    <wj-flex-grid-column [binding]="'date'"
                         [header]="'Date'"
                         [width]="150">
        <template wjFlexGridCellTemplate [cellType]="'Cell'" let-cell="cell">
            <editable-date-renderer [cell]="cell"></editable-date-renderer>
        </template>
    </wj-flex-grid-column>
</inherited-grid>
