<!--
    Edit Account form
-->
<form (ngSubmit)="onSubmit('Account Updated!')">
    <h4 class="modal-header">
        Edit Account
        <button type="button" tabindex="-1" class="close wj-hide">&times;</button>
    </h4>
    <div class="modal-body">
        <label>
            Email:
            <input class="form-control"
                   required type="email" />
        </label>
        <br />
        <label>
            Current Password:
            <input class="form-control"
                   type="password"
                   required pattern=".{4,}" title="Please enter 4 characters or more." />
        </label>
        <br />
        <label>
            New Name:
            <input class="form-control"
                   pattern=".{2,}" title="Please enter 2 characters or more." />
        </label>
        <br />
        <label>
            New Password:
            <input class="form-control"
                   type="password"
                   ng-model="ctx.pw"
                   pattern=".{4,}" title="Please enter 4 characters or more." />
        </label>
        <br />
        <!--<label>
            Confirm New Password:
            <input class="form-control"
                   type="password"
                   ng-model="ctx.pw2"
                   wj-validation-error="ctx.pw != ctx.pw2 ? 'Passwords don\'t match.' : ''" />
        </label>-->
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary"
                type="submit">
            Update Account
        </button>
    </div>
</form>
