<div>
    <h2>FlexChart {{title}}</h2>

    <p>
        This view shows TrendLine in FlexChart.
    </p>
    <p>
        You can use different trendline types by setting the <b>fitType</b>
        property of TrendLine. The points on the plot can be dragged by mouse
        which updates the trend line and its equation automatically.
    </p>
    <!-- Settings -->
    <div class="panel-group" id="settings">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-inline">
                    <li>
                        <label for="checkboxShowEquation">Show Equation:</label>
                        <input type="checkbox" id="checkboxShowEquation" [(ngModel)]="showEquation" />
                    </li>
                    <li>
                        <wj-menu [(value)]="fitType" header="FitType" text="fitType">
                            <wj-menu-item value="Linear">Linear</wj-menu-item>
                            <wj-menu-item value="Exponential">Exponential</wj-menu-item>
                            <wj-menu-item value="Logarithmic">Logarithmic</wj-menu-item>
                            <wj-menu-item value="Power">Power</wj-menu-item>
                            <wj-menu-item value="Fourier">Fourier</wj-menu-item>
                            <wj-menu-item value="Polynomial">Polynomial</wj-menu-item>
                            <wj-menu-item value="MinX">MinX</wj-menu-item>
                            <wj-menu-item value="MinY">MinY</wj-menu-item>
                            <wj-menu-item value="MaxX">MaxX</wj-menu-item>
                            <wj-menu-item value="MaxY">MaxY</wj-menu-item>
                            <wj-menu-item value="AverageX">AverageX</wj-menu-item>
                            <wj-menu-item value="AverageY">AverageY</wj-menu-item>
                        </wj-menu>
                    </li>
                    <li *ngIf="fitType === 'Fourier' || fitType === 'Polynomial'">
                        <label>Order</label>
                        <wj-input-number #iptOrder (valueChanged)="orderChanged(iptOrder)"
                                         [value]="4"
                                         [min]="1"
                                         [max]="9"
                                         [step]="1"
                                         format="n0">
                        </wj-input-number>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <wj-flex-chart #trendLineChart
                       [itemsSource]="itemsSource" bindingX="x"
                       (mouseleave)="update()"
                       (mouseup)="update()"
                       (mousedown)="mouseDown($event)"
                       (mousemove)="mouseMove($event)">
            <wj-flex-chart-axis wjProperty="axisY" [min]="0" [max]="100"></wj-flex-chart-axis>
            <wj-flex-chart-series chartType="Scatter" name="Base Data" binding="y"></wj-flex-chart-series>
            <wj-flex-chart-trend-line #trendLine
                                      name="Trend Line" binding="y" bindingX="x"
                                      [sampleCount]="100"
                                      [fitType]="fitType"
                                      [order]="order">
            </wj-flex-chart-trend-line>
            <wj-flex-line-marker #marker
                                 [isVisible]="showEquation"
                                 lines="None"
                                 interaction="None"
                                 [content]="markerContent">
            </wj-flex-line-marker>
        </wj-flex-chart>
    </div>

</div>