<div>
    <h2>{{title}}</h2>
    <p>
        Markers display a text area on the FinancialChart that displays the data values
        based on the mouse cursor's position on the chart. Markers also support optional
        vertical and horizontal lines to enable a cross-hair effect.
    </p>
    <!-- FinancialChart -->
    <wj-financial-chart #chart
                        [itemsSource]="data"
                        bindingX="date"
                        chartType="Candlestick"
                        [tooltipContent]="null"
                        [symbolSize]="isTouch ? 5 : 10"
                        (rendered)="chartRendered()">
        <wj-financial-chart-series binding="high,low,open,close"
                                   [name]="selectedSymbol | uppercase"
                                   [style]="style"
                                   [altStyle]="altStyle">
        </wj-financial-chart-series>
        <wj-flex-line-marker #marker
                                   [lines]="properties.markerLines"
                                   [interaction]="properties.interaction"
                                   [alignment]="properties.alignment"
                                   [content]="properties.content"
                                   (positionChanged)="positionChanged($event)">
        </wj-flex-line-marker>
    </wj-financial-chart>
    <!-- Settings -->
    <div class="panel-group" id="settings">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    {{ title }} Settings
                </h4>
            </div>
            <div id="settingsBody" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul class="list-inline">
                        <li>
                            <wj-menu header="Content Alignment"
                                     [(value)]="properties.alignment"
                                     [isDisabled]="properties.snapping">
                                <wj-menu-item [value]="2">Auto</wj-menu-item>
                                <wj-menu-item [value]="6">Top</wj-menu-item>
                                <wj-menu-item [value]="0">Right</wj-menu-item>
                                <wj-menu-item [value]="4">Bottom</wj-menu-item>
                                <wj-menu-item [value]="1">Left</wj-menu-item>
                            </wj-menu>
                        </li>
                        <li>
                            <wj-menu header="Interaction"
                                     [(value)]="properties.interaction"
                                     [isDisabled]="properties.snapping">
                                <wj-menu-item value="Drag">Drag</wj-menu-item>
                                <wj-menu-item value="Move">Move</wj-menu-item>
                                <wj-menu-item value="None">None</wj-menu-item>
                            </wj-menu>
                        </li>
                        <li>
                            <wj-menu header="Marker Lines"
                                     [(value)]="properties.markerLines"
                                     [isDisabled]="properties.snapping">
                                <wj-menu-item value="Both">Both</wj-menu-item>
                                <wj-menu-item value="Horizontal">Horizontal</wj-menu-item>
                                <wj-menu-item value="Vertical">Vertical</wj-menu-item>
                                <wj-menu-item value="None">None</wj-menu-item>
                            </wj-menu>
                        </li>
                        <li>
                            <label>
                                Snapping
                                <input type="checkbox" [(ngModel)]="properties.snapping" (change)="snappingChanged()" />
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>