<div>
	<div class="copy">
		<h3>
			Formulas
		</h3>
		<p>
			FlexSheet supports nearly 100 formulas and auto-completion.  Our formula operations were built to align with Microsoft Excel, including operations for aggregation, mathematics, logic and text.
		</p>
	</div>
	<div>
		<wj-flex-sheet class="flexSheet" control="ctx.flexSheet" initialized="initialized(s)">
			<wj-sheet name="Basic Operators" row-count="35" column-count="8"></wj-sheet>
			<wj-sheet name="Math" row-count="90" column-count="8"></wj-sheet>
			<wj-sheet name="Logical" row-count="30" column-count="8"></wj-sheet>
			<wj-sheet name="Text" row-count="80" column-count="8"></wj-sheet>
			<wj-sheet name="Aggregate" row-count="170" column-count="8"></wj-sheet>
			<wj-sheet name="Date" row-count="60" column-count="9"></wj-sheet>
			<wj-sheet name="Lookup & Reference" row-count="55" column-count="10"></wj-sheet>
			<wj-sheet name="Financial" row-count="20" column-count="8"></wj-sheet>
			<wj-sheet name="Summary" row-count="20" column-count="8"></wj-sheet>
		</wj-flex-sheet>
	</div>
</div>