<div>
	<div class="copy">
		<h3>
			Format Cells
		</h3>
		<p>
			FlexSheet allows to set format for each cell.
			The format including data format of cell value (Date/Number format), font style, fill color and horizontal alignment.
		</p>
	</div>
	<div class="row well well-lg">
		<div class="row">
			Format: 
			<wj-menu header="Format" visible="true" value="ctx.format">
				<wj-menu-item value="'0'">Decimal Format</wj-menu-item>
				<wj-menu-item value="'n2'">Number Format</wj-menu-item>
				<wj-menu-item value="'p2'">Percentage Format</wj-menu-item>
				<wj-menu-item value="'c2'">Currency Format</wj-menu-item>
				<wj-menu-separator></wj-menu-separator>
				<wj-menu-item value="'d'">Short Date</wj-menu-item>
				<wj-menu-item value="'D'">Long Date</wj-menu-item>
				<wj-menu-item value="'f'">Full Date/TIme (short time)</wj-menu-item>
				<wj-menu-item value="'F'">Full Date/TIme (long time)</wj-menu-item>
			</wj-menu>
		</div>
		<br />
		<div class="row">
			Font:
			<wj-combo-box
				style="width:120px"
				control="ctx.cboFontName"
				items-source="ctx.fonts"
				selected-index="0"
				display-member-path="name"
				selected-value-path="value"
				is-editable="false">
			</wj-combo-box>
			<wj-combo-box
				style="width:80px"
				control="ctx.cboFontSize"
				items-source="ctx.fontSizeList"
				selected-index="5"
				display-member-path="name"
				selected-value-path="value"
				is-editable="false">
			</wj-combo-box>
			<div class="btn-group">
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.isBold ? 'active' : ''}}" ng-click="applyBoldStyle()">Bold</button>
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.isItalic ? 'active' : ''}}" ng-click="applyItalicStyle()">Italic</button>
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.isUnderline ? 'active' : ''}}" ng-click="applyUnderlineStyle()">Underline</button>
			</div>
			Alignment:
			<div class="btn-group">
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.textAlign === 'left' ? 'active' : ''}}" ng-click="applyCellTextAlign('left')">Left</button>
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.textAlign === 'center' ? 'active' : ''}}" ng-click="applyCellTextAlign('center')">Center</button>
				<button type="button" class="btn btn-default {{ctx.selectionFormatState.textAlign === 'right' ? 'active' : ''}}" ng-click="applyCellTextAlign('right')">Right</button>
			</div>
			Color:
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="showColorPicker($event, false)">Fore Color</button>
				<button type="button" class="btn btn-default" ng-click="showColorPicker($event, true)">Fill Color</button>
			</div>
		</div>
	</div>
	<div>
		<wj-flex-sheet class="flexSheet" control="ctx.flexSheet" initialized="initialized(s)">
			<wj-sheet name="Number" row-count="20" column-count="8"></wj-sheet>
			<wj-sheet name="Date" row-count="20" column-count="8"></wj-sheet>
		</wj-flex-sheet>
		<wj-color-picker style="display:none;position:fixed;z-index:100" control="ctx.colorPicker"></wj-color-picker>
	</div>
</div>