<div>
	<div class="copy">
		<h3>
			Frozen Cells
		</h3>
		<p>
			FlexSheet allows to freeze the rows and columns at the selected cell by the <b>'freezeAtCursor'</b> method.
		</p>
	</div>
	<button type="button" class="btn btn-default" ng-click="freezeCells()">{{ctx.isFrozen ? 'UnFreeze' : 'Freeze'}}</button>
	<div>
		<wj-flex-sheet class="flexSheet" control="ctx.flexSheet" initialized="initialized(s)">
			<wj-sheet row-count="40" column-count="16"></wj-sheet>
		</wj-flex-sheet>
	</div>
</div>