<div>
	<div class="copy">
		<h3>
			Multiple Headers
		</h3>
		<p>
			FlexSheet allows to add multiple row headers or column headers.
		</p>
	</div>
	<div class="row well well-lg">
		<div class="btn-group">
			<button type="button" class="btn btn-default" ng-click="addRowHeader()">Add Row Header</button>
			<button type="button" class="btn btn-default" ng-click="removeRowHeader()">Remove Row Header</button>
			<button type="button" class="btn btn-default" ng-click="addColumnHeader()">Add Column Header</button>
			<button type="button" class="btn btn-default" ng-click="removeColumnHeader()">Remove Column Header</button>
		</div>
	</div>
	<div>
		<wj-flex-sheet class="flexSheet" control="ctx.flexSheet" initialized="initialized(s)">
			<wj-sheet row-count="20" column-count="8"></wj-sheet>
		</wj-flex-sheet>
	</div>
</div>