<div class="panel-group" id="accordion">
    <!--<div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#Infrastructure" target="_self">
                    Infrastructure
                </a>
            </h4>
        </div>
        <div id="Infrastructure" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="flat-list">
                    <li><a href="#/intro">Introduction</a></li>
                </ul>
            </div>
        </div>
	</div>-->
	<div class="panel panel-default">
		<div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#FlexSheet" target="_self">
                    FlexSheet
                </a>
            </h4>
        </div>
		<div id="FlexSheet">
            <div class="panel-body">
                <ul class="flat-list">
					<li><a href="#/intro">Introduction</a></li>
                    <li><a href="#/dataBinding">Data Binding</a></li>
					<li><a href="#/sorting">Sorting</a></li>
					<li><a href="#/filtering">Filtering</a></li>
					<li><a href="#/formatCells">Format Cells</a></li>
					<li><a href="#/multipleHeaders">Multiple Headers</a></li>
					<li><a href="#/cellMerging">Cell Merging</a></li>
					<li><a href="#/dragDrop">Drag & Drop</a></li>
					<li><a href="#/frozenCells">Frozen Cells</a></li>
					<li><a href="#/formulas">Formulas</a></li>
					<li><a href="#/customFunction">Custom Function</a></li>
					<li><a href="#/excelIO">Excel I/O</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>