<div>
    <h3>Welcome to NorthBreeze</h3>
    <div class="container-fluid">
        <p>
            This is a sample application using the NorthwindIB database, a version of the 
            Northwind sample database that comes with Microsoft SQL Server that is modified
            for Breeze.</p>
        <p>
            This application uses <a href="http://www.breezejs.com/" target="_blank">Breeze</a>, 
            <a href="http://angularjs.org/" target="_blank">Angular</a>, and
             <a href="http://getbootstrap.com/2.3.2/index.html" target="_blank">Twitter Bootstrap</a>  
            on the client, and ASP.NET <a href="http://www.asp.net/web-api" target="_blank">Web API</a> 
            and <a href="http://nhforge.org/" target="_blank">NHibernate</a> on the server.</p>
        <p>
            This app demonstrates how to use Breeze with <a href="http://wijmo.com/5/" target="_blank">
            Wijmo 5</a> (see <code>controllers.js</code>), and a custom directive to perform client-side 
            validation based on metadata provided by the server-side domain model (see 
            <code>directives.js</code> and <code>customers.html</code>).</p>
     </div>
</div>

